@charset "utf-8";
@import "base/_config";
@import "base/_mixin";
@import "base/_extend";



/* padding */
.pt_s {
    @include padding-top ($pd_s_sp, $pd_s_pc);
}
.pt {
    @include padding-top ($pd_m_sp, $pd_m_pc);
}
.pt_l {
    @include padding-top ($pd_l_sp, $pd_l_pc);
}
.pb_s {
    @include padding-bottom($pd_s_sp, $pd_s_pc);
}
.pb {
    @include padding-bottom ($pd_m_sp, $pd_m_pc);
}
.pb_l {
    @include padding-bottom($pd_l_sp, $pd_l_pc);
}

/* margin */
.mt_s {
    @include margin-top ($pd_s_sp, $pd_s_pc);
}
.mt {
    @include margin-top ($pd_m_sp, $pd_m_pc);
}
.mt_l {
    @include margin-top ($pd_l_sp, $pd_l_pc);
}
.mb_s {
    @include margin-bottom($pd_s_sp, $pd_s_pc);
}
.mb {
    @include margin-bottom ($pd_m_sp, $pd_m_pc);
}
.mb_l {
    @include margin-bottom($pd_l_sp, $pd_l_pc);
}

/* font-size */
.fsize_xl{
    @include size($fsize_xl_sp,$fsize_xl_pc);
}
.fsize_l {
    @include size($fsize_l_sp,$fsize_l_pc);
}
.fsize {
    @include size($fsize_m_sp,$fsize_m_pc);
}
.fsize_s {
    @include size($fsize_s_sp,$fsize_s_pc);
}
.fsize_xs {
    @include size($fsize_xs_sp,$fsize_xs_pc);
}

/* テキスト用BOX pタグの下に改行が入る。 */
div.textbox p{
    margin-bottom: 1em;
    &:last-child{
        margin-bottom: 0;
    }
}

/* font-size */

.bsize_xl{
   @include width(100%,60%);
}
.bsize_l {
   @include width(100%,50%);
}
.bsize {
   @include width(100%,40%);
}
.bsize_s {
   @include width(100%,30%);
}
.bsize_xs {
   @include width(100%,20%);
}

.w50 {
    width: 50%!important;
    @include sp_only {
        width: 100%!important;
    }
}
.w60 {
    width: 60%!important;
    @include sp_only {
        width: 100%!important;
    }

}

.w70 {
    width: 70%!important;
    @include sp_only {
        width: 100%!important;
    }

}
.w80 {
    width: 80%!important;
    @include sp_only {
        width: 100%!important;
    }

}
.w90 {
    width: 90%!important;
    @include sp_only {
        width: 100%!important;
    }

}
.w100 {
    width: 100%!important;
    @include sp_only {
        width: 100%!important;
    }

}
.first-latter {
    color:$keycolor1;
}
a.link {
    color:$keycolor1!important;
}
/********************************************************************************
　--common
*********************************************************************************/
a.anchor{
    display: block;
    padding-top: 100px;
    margin-top: -100px;
}
/* --headline
************************************/

.headline1 {
  @include size(22,34,34);
  //font-family: $font-mincho;
  text-align: center;
  line-height: 1.2;
  font-weight: bold;
}
.headline1 span.small {
  font-family: $font_gothic;
    @include fsize_xs;
    display: block;
    margin-top: 3px;
    color:#4d4d4d;
    font-weight: normal;
}






.headline2 {
  @include size(18,30,30);
  //font-family: $font_mincho;
  text-align: center;
  line-height: 1.2;
  font-weight: bold;
}
.headline2 .text {
    position: relative;
}
/*
.headline2:before {
    content: url(../images/headline1.svg);
    position: absolute;
    top: 59px;
    margin-left: -14px;
    @include sp_only {
        content: '';
        top: 52%;
        display: inline-block;
        width: 78px;
        height: 25px;
        background-image: url(../images/headline1.svg);
        background-size: contain;
        vertical-align: middle;
    }
    

}
*/
.headline3 {
  @include margin-top(4%,40px);
  @include size(18,24,24);
  text-align: center;
  font-weight: normal;
  color:#fff;
  padding:4px 4% 4px;
  background: $keycolor4;

}

.headline4 {
  @include size(16,20,20);
  border-left:3px solid $keycolor1;
  color:$keycolor1;
    line-height: 1.2;
    padding-left:10px;
    margin-bottom:12px;
    padding-top: 5px;
    padding-bottom:5px; 
    border-bottom: 1px solid $keycolor1;
}
.headline5 {
  @include size(12,14,14);
  background: $keycolor1;
  color:#fff !important;
  letter-spacing: 1px;
  padding:1px 12px 2px;
  display: inline-block;
  @include margin-bottom(2%,4px);
}

.headline6 {
  @include size(17,26,26);
  //font-family: $font_mincho;
  text-align: center;
  line-height: 1.2;
  font-weight: 500;
    font-weight: bold;
  @include margin-bottom(4%,40px);
    
}

/* --ctext_color_box
************************************/
.text_color_box {
    color:#fff;
    width:100%;
    @include padding(2% 0,10px 0);
    text-align:center;
}
.text_color_box.red {
    background: #c40500;
}

/* --btn
************************************/

.linkbtn1 {
  position: relative;
  overflow: hidden;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  display:block;
}

.linkbtn1 .btn-child {
  position: absolute;
  top: 0;
  left: 0;
}

.linkbtn1:after {
  content: '';
  position: absolute;
  right: 15px;
  top: 18px;
  width: 8px;
  height: 8px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  @include sp_only {
    top: 18px!important;

  }
}
.linkbtn1:hover:after {
  content: '';
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.btn-hover .btn-child {
  background-color: #fff;
  width: 0%;
  height: 100%;
  transition: all 0.3s;
}

.btn-hover .btn-child {
  background-color: #fff;
  width: 0%;
  height: 100%;
  transition: all 0.3s;
}

.btn-hover .btn-text {
  color: #fff; 
}

.btn-hover:hover .btn-text {
  transition: all 0.3s;
}

.btn-hover:hover .btn-child {
  width: 100%;
  transition: all 0.3s; }

.btn-style {
    height: 47px;
    line-height: 42px;  
    @include sp_only {
        height: 44px!important;
        line-height: 42px!important;  
    }
}

.btn-text {
  color: #fff;
  position: relative;
  z-index: 2;
  @include size(13,15);
  letter-spacing: 2px;
}

.linkbtn1.color1 {border: 1px solid $keycolor1;background:$keycolor1;}
.linkbtn1.color1:hover:after {border-top: 2px solid $keycolor1;border-right: 2px solid $keycolor1;}
.linkbtn1.color1.btn-hover:hover .btn-text {color: $keycolor1;}
.linkbtn1.color1:hover {border:1px solid $keycolor1;}

.linkbtn1.color2 {background:$keycolor2;border: 1px solid $keycolor2;}
.linkbtn1.color2:hover:after {border-top: 2px solid $keycolor2;border-right: 2px solid $keycolor2;}
.linkbtn1.color2.btn-hover:hover .btn-text {color: $keycolor2;}
.linkbtn1.color2:hover {border:1px solid $keycolor2;}


n2 {
  margin-left:auto;
  margin-right:auto;
  @include tab {
    margin: 20px 0;
    text-align: center;
  }

}

.linkbtn2 a {
  border: 1px solid #AA8D13;
  background: #AA8D13;
  text-align: center;
  color: #fff!important;
  @include size(13,16,16);
  text-decoration: none;
  line-height: 1;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: relative;
  width:100%;
  display: inline-block;
  padding: 13px 0px;
  @include tab {
    display: inline-block;
    width:auto;
    padding: 13px 75px;
  }
}
.linkbtn2 a:after {
    position: absolute;
    top: 53%;
    right: 20px;
    display: block;
    content: "";
    width: 7px;
    height: 7px;
    margin-top: -3px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.linkbtn2 a:hover {
    color:#AA8D13!important;
    background: #fff;
}
.linkbtn3.btn-text {
  color: #4d4d4d;
  position: relative;
  z-index: 2;
  font-size: 1.7px;
  font-size: 1.7rem;
}

.linkbtn3 {
  border: 1px solid #4d4d4d;
  position: relative;
  overflow: hidden;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  background: #fff;
}

.linkbtn3 .btn-child {
  position: absolute;
  top: 0;
  left: 0;
}

.linkbtn3:after {
  content: '';
  position: absolute;
  right: 15px;
  top: 25px;
  width: 6px;
  height: 6px;
  border-top: 2px solid #4d4d4d;
  border-right: 2px solid #4d4d4d;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-top: 2px solid #4d4d4d;
  border-right: 2px solid #4d4d4d;
}

.linkbtn3:hover:after {
  content: '';
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-top: 2px solid #4d4d4d;
  border-right: 2px solid #4d4d4d;
}

.linkbtn3.btn-hover .btn-text {
  color: #4d4d4d;
}

.linkbtn3.btn-hover:hover .btn-text {
  color: #4d4d4d;
}

.linkbtn3.btn-hover:hover .btn-child {
  width: 100%;
  transition: all 0.3s; }


/* 　　--table
************************************/
.table-scroll {
  @include sp_only {
    overflow: auto;
  }
}
.table-scroll-msg {
    display: none;
    @include sp_only {
        display: block;
    }

}


table.style1 {
    width:100%;
}
table.style1 th {
    @include width(100%,25%);
    text-align: left;
    font-weight: bold;
    @include size(14, 16);
    @include padding(1% 2% 0, 17px 30px 15px);
    border-bottom: 1px solid #cccccc;
    @include sp_only {
        display: block;
        border-bottom:none;
    }
}
table.style1.col2 th {
    border-bottom: 1px solid #cccccc;
    @include sp_only {
        display: table-cell;
        width: 25%;
    }
}
table.style1.col2 td {
    border-bottom: 1px solid #cccccc;
    @include sp_only {
        width: auto;
        display: table-cell;

    }
}
table.style1 td {
    text-align: left;
    border-bottom: 1px solid #cccccc;
    @include size(14, 16);
    @include padding(0% 2% 1%, 17px 30px 15px);
    border-bottom: 1px solid #cccccc;
    @include sp_only {
        display: block;
        border-bottom: 1px solid #cccccc;
        width:100%;
    }
}


table.style2 .list li {
    @include pb_s;
}
table.style2 .list li:last-of-type {
    padding-bottom:0;
}

table.style2 dl {
    @include pb_s;
}
table.style2 dl:last-of-type {
    padding-bottom:0;
}

table.style2 .btn {
  display: inline-block;
    @include sp_only {
        margin-bottom:2%;
    }

    @include margin-left(10px);
    @include fsize_s;
    background:#6b9e4f;
    padding:5px 10px;
    color:#fff;
}



table.style2 {
    width:100%;
}
table.style2 th {
    @include width(100%,25%);
    text-align: left;
    background: #e9e9e9;
    font-weight: bold;
    @include size(14, 16);
    @include padding(1% 2%, 17px 30px 15px);
    border-top: 1px solid #cccccc;
    @include sp_only {
        display: block;
    }
}
table.style2.col2 th {
    background: #e9e9e9;
    color:#fff;
    border-bottom: 1px solid #cccccc;
    @include sp_only {
        display: table-cell;
        width: 25%;
    }
}
table.style2.col2 td {
    border-bottom: 1px solid #cccccc;
    @include sp_only {
        width: auto;
        display: table-cell;
    }
}
table.style2 td {
    text-align: left;
    background: #fff;
    border-top: 1px solid #cccccc;
    @include size(14, 16);
    @include padding(1% 2%, 17px 30px 15px);
    border-bottom: 1px solid #cccccc;
    @include sp_only {
        display: block;
        border-bottom:none;
        width:100%;
    }
}


table.style2 .list li {
    @include pb_s;
}
table.style2 .list li:last-of-type {
    padding-bottom:0;
}

table.style2 dl {
    @include pb_s;
}
table.style2 dl:last-of-type {
    padding-bottom:0;
}

table.style2 .btn {
  display: inline-block;
    @include sp_only {
        margin-bottom:2%;
    }

    @include margin-left(10px);
    @include fsize_s;
    background:#6b9e4f;
    padding:5px 10px;
    color:#fff;
}



table.style3 {
    width: 100%;
    line-height:1.4;
    border-bottom: 1px solid #d2d2d2 ;
    @include sp_only {
        border-bottom: none;
    }    
}

table.style3 th {
    @include width(100%,20%);
    text-align: left;
    background: #f2f2f2;
    font-weight: bold;
    @include size(14, 16);
    @include padding(1% 2%, 17px 30px 15px);
    border-left: 1px solid #d2d2d2;
    border-top: 1px solid #d2d2d2;
    @include sp_only {
        display: block;
        border-right: 1px solid #d2d2d2;
        
    }
}

table.style3 tr:first-of-type th {
    border-top: 1px solid #d2d2d2 ;
}
table.style3 tr:last-of-type {
    border-bottom: 1px solid #d2d2d2;
}

table.style3 td {
    background: #fff;
    border-top: 1px solid #d2d2d2;
    @include size(14,16);
    @include width(100%);
    display: block;
    border-right: 1px solid #d2d2d2;
    @include padding(2%, 17px 40px 15px);
    text-align: left;
    line-height: 1.6;
    @include sp_only {
        border-left: 1px solid #d2d2d2;

    }
}

table.style3 td.underline {
    border-bottom: 1px solid #d2d2d2;
}



table.style4 {
    width:100%;
}
table.style4 th {
    @include width(100%,25%);
    text-align: left;
    background: #62b2ae;
    color: #fff;
    @include size(14, 16);
    @include padding(2%, 17px 30px 15px);
    border-top: 1px solid #cccccc;
    @include sp_only {
        display: block;
    }
}
table.style4.col2 th {
    background: #d2d2d2;
    color:#fff;
    border-bottom: 1px solid #cccccc;
    @include sp_only {
        display: table-cell;
        width: 25%;
    }
}
table.style4.col2 td {
    border-bottom: 1px solid #cccccc;
    @include sp_only {
        width: auto;
        display: table-cell;
    }
}
table.style4 td {
    text-align: left;
    background: #fff;
    border-top: 1px solid #cccccc;
    @include size(14, 16);
    @include padding(2%, 17px 30px 15px);
    border-bottom: 1px solid #cccccc;
    @include sp_only {
        display: block;
        border-bottom:none;
        width:100%;
    }
}


/* --form
************************************/

form input[type="radio"] {
    margin-right: 5px;
    position: relative;
    display: inline-block;
    top: 1px;
}

form input[type="text"],
input[type="mail"],
select {
    @include padding(7px 10px, 7px 10px);
    @include size(15, 16);
    margin: 4px 0;
    width: 100%;
    border: 1px solid #a7a7a7;
    @include tab() {
        width: auto;
    }
}

form textarea {
    border: 1px solid #a7a7a7;
    @include padding(7px 10px, 7px 10px);
    @include size(15, 16);
    margin: 4px 0;
    width: 100%;
    @include tab() {
        width: auto;
    }
}


form span.small {
    @include size(12);
}

form .mt {
    margin-top: 10px;
}

form .wide {
    width: 100%;
}

form label {
    margin-right: 20px;
}

form .submit_btn {
    text-align: center;
    margin-top: 40px;
}

form .submit_btn input {
    cursor: pointer;
    background: #c30000;
    color: #fff;
    padding: 15px 60px;
    display: inline-block;
    border: none;
}

.mw_wp_form_confirm span {
    display: none;
}

form .error {
    color: #f00;
    @include size(13);
    padding-left: 10px;
}

form .block label {
    display: block;
    margin-bottom: 5px;
    cursor: pointer;
}

/* --bg_color
************************************/
.bg_white {background:#fff;}
.bg_gray {background:#f2f2f2;}
.bg_gray1 {background:#e7f1f2;}
.bg_darkgray {background:#d8d8d8;}
.bg_blue {background: #EBFBFF;}
.bg_img1 {
    background: url(../images/bg_img1.jpg) repeat;
}
.bg_btn1{
    position: relative;
}

.bg_btn1:before{
    content: "";
    background: url("../images/company_map_left.png") no-repeat top left;
    background-size: contain;
    width: 300px;
    height: 300px;
    @include tab_only {
        width: 100px;
        height: 100px;
    
    }

    @include sp_only {
        width: 50px;
        height: 50px;
    
    }
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
}
.bg_btn1:after{
    content: "";
    background: url("../images/company_map_right.png") no-repeat right bottom;
    background-size: contain;
    width: 300px;
    height: 300px;
    @include tab_only {
        width: 100px;
        height: 100px;
    
    }

    @include sp_only {
        width: 50px;
        height: 50px;
    
    }
    display: inline-block;
    position: absolute;
    right: 0;
    bottom:0;
}

/* --link_color
************************************/
.link_red {
    color:#c73c25!important;
}
.link_red:hover{
    text-decoration: underline;
}
.link_blue {
    color:#1A2D49!important;
}
.link_blue:hover{
    text-decoration: underline;
}
/* --font_color
************************************/
.font_red {
    color:#c73c25!important;
}
.font_blue {
    color:$keycolor1!important;
}


/* --img_center
************************************/
.img_center {
    display:block;
    text-align:center;
    margin:0 auto;
}

.text_center {
  @include text-align(left!important,center!important);
}
.text_left {
  @include text-align(left!important,left!important);
}


/* --sml
************************************/
.sml {
    @include fsize_xs;

}

/* --new
************************************/
.new:after {
   content: "new";
   margin-left: 5px;
   color: #fff;
   background: #c73c25;
   padding: 1px 3px;
   font-size:12px;
}


/* 　　--photo_title
************************************/
/* 写真(下部)の上に説明文を重ねる */
.photo_title a {
    text-align: center;
    text-decoration: none;
}
.photo_title p{
    @include margin-top(5px,10px);  
    @include size(13,14);
}
.photo_title figure {
    position: relative;
    overflow: hidden;

}
.photo_title figcaption {
    position: absolute;
    bottom: 0px;
    z-index: 9999;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    -webkit-transition: .3s;
    opacity: 1;
    color: #fff;
    @include size(13,15,17);
    @include padding(4px 10px 4px,6px 10px);

}
.photo_title figcaption .center {
  text-align:center;
}
.photo_title figcaption .left {
  text-align:left;
}
.photo_title img {
    @include vender(transition, all 0.2s linear);
    width: 100%;
    height: auto;
}
.photo_title a:hover img {
  @include vender(transform,scale(1.1));
}
.photo_title figcaption.white {
  background:#fff;
  color:#4d4d4d;
}
.photo_title figcaption.arrow:after {
  @include vender(transition, all 0.2s linear);
  content: url(../images/right_arrow.png);
  position: absolute;
  right: 10px;
  top:2px;
}
.photo_title a:hover figcaption.arrow:after {
  right: 7px;
}

.photo_title.left_line {
  border-left:2px solid #c40500;
}

/* 　　--company_list
************************************/
#company_list ul li {
    background-size:cover!important;
}
#company_list a:hover .text {
    color:#c40500;
}

#company_list ul li .text {
    text-align: center;
    margin: 30px 100px;
    padding: 10px;
    background: #fff;
    font-weight: bold;
}
#company_list .grid_col3 li {
    margin-bottom:2%;    
    @include pc_only {
        width: 32%;
    }
    @include tab_only {
        width: 48%;
    }
}

@include pc_only {
    #company_list .grid_col3 .col1 {margin-right: 2% !important;}
    #company_list .grid_col3 .col2 {margin-right: 2% !important;}
    #company_list .grid_col3 .col3 {margin-right: 0% !important;}
    #company_list .grid_col3 .col4 {margin-right: 2% !important;}
    #company_list .grid_col3 .col5 {margin-right: 2% !important;}
}
@include tab_only {
    #company_list .grid_col3 .col1 {margin-right: 2% !important;}
    #company_list .grid_col3 .col2 {margin-right: 0% !important;}
    #company_list .grid_col3 .col3 {margin-right: 2% !important;}
    #company_list .grid_col3 .col4 {margin-right: 0% !important;}
    #company_list .grid_col3 .col5 {margin-right: 2% !important;}
}
#company_list .grid_col3 .col:nth-child(3n+1) {
    clear:none;
}
/* 　　--特徴デザイン
************************************/
dl.point{
  border:2px solid #c40500;
  @include padding(2%, 20px 30px);
}
dl.point dt{
  color: #c40500;
  font-weight: bold;
}
dl.point dd{
  @include margin-bottom(1%, 5px);
}
dl.point dd:last-child{
  margin-bottom: 0;
}
/* 　　--カタログダウンロードボタン
************************************/
.dllink{
    border:3px solid #333;
}
.dllink h3{
    @include size(14,20);
    @include padding(1%, 5px 15px 5px);
    background: #333;
    text-align: center;
    color: #fff;
}
.dllink ul{
    @include padding(2% 2% 0,20px 20px 0);
    text-align: center;
}
.dllink ul li{
    @include margin(0 2% 2%,0 10px 10px);
    @include tab() {
    display: inline-block;        
    }

}

.dllink ul li a{
    display: block;
    @include tab() {
        display: inline-block;
    }
    padding-left: 30px;
    padding-right: 40px;
}


/* 　　--iziModal
************************************/
.iziModal{
  @include sp_only() {
  margin-left: 4% !important;
  margin-right: 4% !important;
}
}

.iziModal-content .outer {
    padding:4%;
}
.iziModal-content .outer h3 {
    @include fsize_xl;
    text-align: center;
    @include pb;
}
.iziModal-content .outer h4 {
    @include fsize_l;
    text-align: left;
    @include pb;
}
.iziModal-content .outer ol li {
    @include fsize;
    text-align: left;
    padding-left:1em;
    text-indent:-1em;
}

/* 　　--image-hover
************************************/
.image-hover {
    position: relative;
    overflow: hidden;
//    @include width(100%, 480px);
    height:auto;
    margin-left:auto;
    margin-right:auto;
}

.image-hover a img {
    @include vender(transition, all 0.2s linear);
    height: auto;
}
.image-hover a:hover img {
  @include vender(transform,scale(1.1));
  opacity: 0.8;
}
.image-hover a{
    position: relative;
    display: block; 
}
.image-hover a:after{
    display: inline-block;
    content:'';
    position: absolute;
    right: 0;
    bottom: 0px;
    background: rgba(0,0,0,0.4) url(../images/icon_large.svg) no-repeat center center;
    background-size: 26px auto;
    width: 34px;
    height: 34px;

}
.lb-data .lb-caption {
    @include sp_only {
        font-size:18px!important;
        font-size:1.8rem!important;
    }
}
