@charset "UTF-8";
/* padding */
.pt_s {
  padding-top: 2%;
}
@media screen and (min-width: 768px) {
  .pt_s {
    padding-top: 10px;
  }
}

.pt {
  padding-top: 4%;
}
@media screen and (min-width: 768px) {
  .pt {
    padding-top: 30px;
  }
}

.pt_l {
  padding-top: 6%;
}
@media screen and (min-width: 768px) {
  .pt_l {
    padding-top: 50px;
  }
}

.pb_s {
  padding-bottom: 2%;
}
@media screen and (min-width: 768px) {
  .pb_s {
    padding-bottom: 10px;
  }
}

.pb {
  padding-bottom: 4%;
}
@media screen and (min-width: 768px) {
  .pb {
    padding-bottom: 30px;
  }
}

.pb_l {
  padding-bottom: 6%;
}
@media screen and (min-width: 768px) {
  .pb_l {
    padding-bottom: 50px;
  }
}

/* margin */
.mt_s {
  margin-top: 2%;
}
@media screen and (min-width: 768px) {
  .mt_s {
    margin-top: 10px;
  }
}

.mt {
  margin-top: 4%;
}
@media screen and (min-width: 768px) {
  .mt {
    margin-top: 30px;
  }
}

.mt_l {
  margin-top: 6%;
}
@media screen and (min-width: 768px) {
  .mt_l {
    margin-top: 50px;
  }
}

.mb_s {
  margin-bottom: 2%;
}
@media screen and (min-width: 768px) {
  .mb_s {
    margin-bottom: 10px;
  }
}

.mb {
  margin-bottom: 4%;
}
@media screen and (min-width: 768px) {
  .mb {
    margin-bottom: 30px;
  }
}

.mb_l {
  margin-bottom: 6%;
}
@media screen and (min-width: 768px) {
  .mb_l {
    margin-bottom: 50px;
  }
}

/* font-size */
.fsize_xl {
  font-size: 20px;
  font-size: 2rem;
}
@media screen and (min-width: 768px) {
  .fsize_xl {
    font-size: 24px;
    font-size: 2.4rem;
  }
}

.fsize_l {
  font-size: 16px;
  font-size: 1.6rem;
}
@media screen and (min-width: 768px) {
  .fsize_l {
    font-size: 20px;
    font-size: 2rem;
  }
}

.fsize {
  font-size: 14px;
  font-size: 1.4rem;
}
@media screen and (min-width: 768px) {
  .fsize {
    font-size: 16px;
    font-size: 1.6rem;
  }
}

.fsize_s {
  font-size: 12px;
  font-size: 1.2rem;
}
@media screen and (min-width: 768px) {
  .fsize_s {
    font-size: 14px;
    font-size: 1.4rem;
  }
}

.fsize_xs {
  font-size: 10px;
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  .fsize_xs {
    font-size: 12px;
    font-size: 1.2rem;
  }
}

/* テキスト用BOX pタグの下に改行が入る。 */
div.textbox p {
  margin-bottom: 1em;
}
div.textbox p:last-child {
  margin-bottom: 0;
}

/* font-size */
.bsize_xl {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .bsize_xl {
    width: 60%;
  }
}

.bsize_l {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .bsize_l {
    width: 50%;
  }
}

.bsize {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .bsize {
    width: 40%;
  }
}

.bsize_s {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .bsize_s {
    width: 30%;
  }
}

.bsize_xs {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .bsize_xs {
    width: 20%;
  }
}

.w50 {
  width: 50% !important;
}
@media (max-width: 767px) {
  .w50 {
    width: 100% !important;
  }
}

.w60 {
  width: 60% !important;
}
@media (max-width: 767px) {
  .w60 {
    width: 100% !important;
  }
}

.w70 {
  width: 70% !important;
}
@media (max-width: 767px) {
  .w70 {
    width: 100% !important;
  }
}

.w80 {
  width: 80% !important;
}
@media (max-width: 767px) {
  .w80 {
    width: 100% !important;
  }
}

.w90 {
  width: 90% !important;
}
@media (max-width: 767px) {
  .w90 {
    width: 100% !important;
  }
}

.w100 {
  width: 100% !important;
}
@media (max-width: 767px) {
  .w100 {
    width: 100% !important;
  }
}

.first-latter {
  color: #1A2D49;
}

a.link {
  color: #1A2D49 !important;
}

/********************************************************************************
　--common
*********************************************************************************/
a.anchor {
  display: block;
  padding-top: 100px;
  margin-top: -100px;
}

/* --headline
************************************/
.headline1 {
  font-size: 22px;
  font-size: 2.2rem;
  text-align: center;
  line-height: 1.2;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .headline1 {
    font-size: 34px;
    font-size: 3.4rem;
  }
}
@media screen and (min-width: 1040px) {
  .headline1 {
    font-size: 34px;
    font-size: 3.4rem;
  }
}

.headline1 span.small {
  font-family: "ＭＳ Ｐゴシック", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Verdana, "ＭＳ ゴシック", Osaka-mono, sans-serif;
  display: block;
  margin-top: 3px;
  color: #4d4d4d;
  font-weight: normal;
}
@media (max-width: 767px) {
  .headline1 span.small {
    font-size: 10px;
    font-size: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 1040px) {
  .headline1 span.small {
    font-size: 12px;
    font-size: 1.2rem;
  }
}
@media (min-width: 768px) {
  .headline1 span.small {
    font-size: 12px;
    font-size: 1.2rem;
  }
}

.headline2 {
  font-size: 18px;
  font-size: 1.8rem;
  text-align: center;
  line-height: 1.2;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .headline2 {
    font-size: 30px;
    font-size: 3rem;
  }
}
@media screen and (min-width: 1040px) {
  .headline2 {
    font-size: 30px;
    font-size: 3rem;
  }
}

.headline2 .text {
  position: relative;
}

/*
.headline2:before {
    content: url(../images/headline1.svg);
    position: absolute;
    top: 59px;
    margin-left: -14px;
    @include sp_only {
        content: '';
        top: 52%;
        display: inline-block;
        width: 78px;
        height: 25px;
        background-image: url(../images/headline1.svg);
        background-size: contain;
        vertical-align: middle;
    }
    

}
*/
.headline3 {
  margin-top: 4%;
  font-size: 18px;
  font-size: 1.8rem;
  text-align: center;
  font-weight: normal;
  color: #fff;
  padding: 4px 4% 4px;
  background: #1A2D49;
}
@media screen and (min-width: 768px) {
  .headline3 {
    margin-top: 40px;
  }
}
@media screen and (min-width: 768px) {
  .headline3 {
    font-size: 24px;
    font-size: 2.4rem;
  }
}
@media screen and (min-width: 1040px) {
  .headline3 {
    font-size: 24px;
    font-size: 2.4rem;
  }
}

.headline4 {
  font-size: 16px;
  font-size: 1.6rem;
  border-left: 3px solid #1A2D49;
  color: #1A2D49;
  line-height: 1.2;
  padding-left: 10px;
  margin-bottom: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #1A2D49;
}
@media screen and (min-width: 768px) {
  .headline4 {
    font-size: 20px;
    font-size: 2rem;
  }
}
@media screen and (min-width: 1040px) {
  .headline4 {
    font-size: 20px;
    font-size: 2rem;
  }
}

.headline5 {
  font-size: 12px;
  font-size: 1.2rem;
  background: #1A2D49;
  color: #fff !important;
  letter-spacing: 1px;
  padding: 1px 12px 2px;
  display: inline-block;
  margin-bottom: 2%;
}
@media screen and (min-width: 768px) {
  .headline5 {
    font-size: 14px;
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 1040px) {
  .headline5 {
    font-size: 14px;
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 768px) {
  .headline5 {
    margin-bottom: 4px;
  }
}

.headline6 {
  font-size: 17px;
  font-size: 1.7rem;
  text-align: center;
  line-height: 1.2;
  font-weight: 500;
  font-weight: bold;
  margin-bottom: 4%;
}
@media screen and (min-width: 768px) {
  .headline6 {
    font-size: 26px;
    font-size: 2.6rem;
  }
}
@media screen and (min-width: 1040px) {
  .headline6 {
    font-size: 26px;
    font-size: 2.6rem;
  }
}
@media screen and (min-width: 768px) {
  .headline6 {
    margin-bottom: 40px;
  }
}

/* --ctext_color_box
************************************/
.text_color_box {
  color: #fff;
  width: 100%;
  padding: 2% 0;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .text_color_box {
    padding: 10px 0;
  }
}

.text_color_box.red {
  background: #c40500;
}

/* --btn
************************************/
.linkbtn1 {
  position: relative;
  overflow: hidden;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  display: block;
}

.linkbtn1 .btn-child {
  position: absolute;
  top: 0;
  left: 0;
}

.linkbtn1:after {
  content: '';
  position: absolute;
  right: 15px;
  top: 18px;
  width: 8px;
  height: 8px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
@media (max-width: 767px) {
  .linkbtn1:after {
    top: 18px !important;
  }
}

.linkbtn1:hover:after {
  content: '';
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.btn-hover .btn-child {
  background-color: #fff;
  width: 0%;
  height: 100%;
  transition: all 0.3s;
}

.btn-hover .btn-child {
  background-color: #fff;
  width: 0%;
  height: 100%;
  transition: all 0.3s;
}

.btn-hover .btn-text {
  color: #fff;
}

.btn-hover:hover .btn-text {
  transition: all 0.3s;
}

.btn-hover:hover .btn-child {
  width: 100%;
  transition: all 0.3s;
}

.btn-style {
  height: 47px;
  line-height: 42px;
}
@media (max-width: 767px) {
  .btn-style {
    height: 44px !important;
    line-height: 42px !important;
  }
}

.btn-text {
  color: #fff;
  position: relative;
  z-index: 2;
  font-size: 13px;
  font-size: 1.3rem;
  letter-spacing: 2px;
}
@media screen and (min-width: 768px) {
  .btn-text {
    font-size: 15px;
    font-size: 1.5rem;
  }
}

.linkbtn1.color1 {
  border: 1px solid #1A2D49;
  background: #1A2D49;
}

.linkbtn1.color1:hover:after {
  border-top: 2px solid #1A2D49;
  border-right: 2px solid #1A2D49;
}

.linkbtn1.color1.btn-hover:hover .btn-text {
  color: #1A2D49;
}

.linkbtn1.color1:hover {
  border: 1px solid #1A2D49;
}

.linkbtn1.color2 {
  background: #AA8D13;
  border: 1px solid #AA8D13;
}

.linkbtn1.color2:hover:after {
  border-top: 2px solid #AA8D13;
  border-right: 2px solid #AA8D13;
}

.linkbtn1.color2.btn-hover:hover .btn-text {
  color: #AA8D13;
}

.linkbtn1.color2:hover {
  border: 1px solid #AA8D13;
}

n2 {
  margin-left: auto;
  margin-right: auto;
}
@media print, screen and (min-width: 768px) {
  n2 {
    margin: 20px 0;
    text-align: center;
  }
}

.linkbtn2 a {
  border: 1px solid #AA8D13;
  background: #AA8D13;
  text-align: center;
  color: #fff !important;
  font-size: 13px;
  font-size: 1.3rem;
  text-decoration: none;
  line-height: 1;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: relative;
  width: 100%;
  display: inline-block;
  padding: 13px 0px;
}
@media screen and (min-width: 768px) {
  .linkbtn2 a {
    font-size: 16px;
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 1040px) {
  .linkbtn2 a {
    font-size: 16px;
    font-size: 1.6rem;
  }
}
@media print, screen and (min-width: 768px) {
  .linkbtn2 a {
    display: inline-block;
    width: auto;
    padding: 13px 75px;
  }
}

.linkbtn2 a:after {
  position: absolute;
  top: 53%;
  right: 20px;
  display: block;
  content: "";
  width: 7px;
  height: 7px;
  margin-top: -3px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.linkbtn2 a:hover {
  color: #AA8D13 !important;
  background: #fff;
}

.linkbtn3.btn-text {
  color: #4d4d4d;
  position: relative;
  z-index: 2;
  font-size: 1.7px;
  font-size: 1.7rem;
}

.linkbtn3 {
  border: 1px solid #4d4d4d;
  position: relative;
  overflow: hidden;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  background: #fff;
}

.linkbtn3 .btn-child {
  position: absolute;
  top: 0;
  left: 0;
}

.linkbtn3:after {
  content: '';
  position: absolute;
  right: 15px;
  top: 25px;
  width: 6px;
  height: 6px;
  border-top: 2px solid #4d4d4d;
  border-right: 2px solid #4d4d4d;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-top: 2px solid #4d4d4d;
  border-right: 2px solid #4d4d4d;
}

.linkbtn3:hover:after {
  content: '';
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-top: 2px solid #4d4d4d;
  border-right: 2px solid #4d4d4d;
}

.linkbtn3.btn-hover .btn-text {
  color: #4d4d4d;
}

.linkbtn3.btn-hover:hover .btn-text {
  color: #4d4d4d;
}

.linkbtn3.btn-hover:hover .btn-child {
  width: 100%;
  transition: all 0.3s;
}

/* 　　--table
************************************/
@media (max-width: 767px) {
  .table-scroll {
    overflow: auto;
  }
}

.table-scroll-msg {
  display: none;
}
@media (max-width: 767px) {
  .table-scroll-msg {
    display: block;
  }
}

table.style1 {
  width: 100%;
}

table.style1 th {
  width: 100%;
  text-align: left;
  font-weight: bold;
  font-size: 14px;
  font-size: 1.4rem;
  padding: 1% 2% 0;
  border-bottom: 1px solid #cccccc;
}
@media screen and (min-width: 768px) {
  table.style1 th {
    width: 25%;
  }
}
@media screen and (min-width: 768px) {
  table.style1 th {
    font-size: 16px;
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 768px) {
  table.style1 th {
    padding: 17px 30px 15px;
  }
}
@media (max-width: 767px) {
  table.style1 th {
    display: block;
    border-bottom: none;
  }
}

table.style1.col2 th {
  border-bottom: 1px solid #cccccc;
}
@media (max-width: 767px) {
  table.style1.col2 th {
    display: table-cell;
    width: 25%;
  }
}

table.style1.col2 td {
  border-bottom: 1px solid #cccccc;
}
@media (max-width: 767px) {
  table.style1.col2 td {
    width: auto;
    display: table-cell;
  }
}

table.style1 td {
  text-align: left;
  border-bottom: 1px solid #cccccc;
  font-size: 14px;
  font-size: 1.4rem;
  padding: 0% 2% 1%;
  border-bottom: 1px solid #cccccc;
}
@media screen and (min-width: 768px) {
  table.style1 td {
    font-size: 16px;
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 768px) {
  table.style1 td {
    padding: 17px 30px 15px;
  }
}
@media (max-width: 767px) {
  table.style1 td {
    display: block;
    border-bottom: 1px solid #cccccc;
    width: 100%;
  }
}

@media (max-width: 767px) {
  table.style2 .list li {
    padding-bottom: 2%;
  }
}
@media (min-width: 768px) and (max-width: 1040px) {
  table.style2 .list li {
    padding-bottom: 10px;
  }
}
@media (min-width: 768px) {
  table.style2 .list li {
    padding-bottom: 10px;
  }
}

table.style2 .list li:last-of-type {
  padding-bottom: 0;
}

@media (max-width: 767px) {
  table.style2 dl {
    padding-bottom: 2%;
  }
}
@media (min-width: 768px) and (max-width: 1040px) {
  table.style2 dl {
    padding-bottom: 10px;
  }
}
@media (min-width: 768px) {
  table.style2 dl {
    padding-bottom: 10px;
  }
}

table.style2 dl:last-of-type {
  padding-bottom: 0;
}

table.style2 .btn {
  display: inline-block;
  margin-left: 10px;
  background: #6b9e4f;
  padding: 5px 10px;
  color: #fff;
}
@media (max-width: 767px) {
  table.style2 .btn {
    margin-bottom: 2%;
  }
}
@media (max-width: 767px) {
  table.style2 .btn {
    font-size: 12px;
    font-size: 1.2rem;
  }
}
@media (min-width: 768px) and (max-width: 1040px) {
  table.style2 .btn {
    font-size: 14px;
    font-size: 1.4rem;
  }
}
@media (min-width: 768px) {
  table.style2 .btn {
    font-size: 14px;
    font-size: 1.4rem;
  }
}

table.style2 {
  width: 100%;
}

table.style2 th {
  width: 100%;
  text-align: left;
  background: #e9e9e9;
  font-weight: bold;
  font-size: 14px;
  font-size: 1.4rem;
  padding: 1% 2%;
  border-top: 1px solid #cccccc;
}
@media screen and (min-width: 768px) {
  table.style2 th {
    width: 25%;
  }
}
@media screen and (min-width: 768px) {
  table.style2 th {
    font-size: 16px;
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 768px) {
  table.style2 th {
    padding: 17px 30px 15px;
  }
}
@media (max-width: 767px) {
  table.style2 th {
    display: block;
  }
}

table.style2.col2 th {
  background: #e9e9e9;
  color: #fff;
  border-bottom: 1px solid #cccccc;
}
@media (max-width: 767px) {
  table.style2.col2 th {
    display: table-cell;
    width: 25%;
  }
}

table.style2.col2 td {
  border-bottom: 1px solid #cccccc;
}
@media (max-width: 767px) {
  table.style2.col2 td {
    width: auto;
    display: table-cell;
  }
}

table.style2 td {
  text-align: left;
  background: #fff;
  border-top: 1px solid #cccccc;
  font-size: 14px;
  font-size: 1.4rem;
  padding: 1% 2%;
  border-bottom: 1px solid #cccccc;
}
@media screen and (min-width: 768px) {
  table.style2 td {
    font-size: 16px;
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 768px) {
  table.style2 td {
    padding: 17px 30px 15px;
  }
}
@media (max-width: 767px) {
  table.style2 td {
    display: block;
    border-bottom: none;
    width: 100%;
  }
}

@media (max-width: 767px) {
  table.style2 .list li {
    padding-bottom: 2%;
  }
}
@media (min-width: 768px) and (max-width: 1040px) {
  table.style2 .list li {
    padding-bottom: 10px;
  }
}
@media (min-width: 768px) {
  table.style2 .list li {
    padding-bottom: 10px;
  }
}

table.style2 .list li:last-of-type {
  padding-bottom: 0;
}

@media (max-width: 767px) {
  table.style2 dl {
    padding-bottom: 2%;
  }
}
@media (min-width: 768px) and (max-width: 1040px) {
  table.style2 dl {
    padding-bottom: 10px;
  }
}
@media (min-width: 768px) {
  table.style2 dl {
    padding-bottom: 10px;
  }
}

table.style2 dl:last-of-type {
  padding-bottom: 0;
}

table.style2 .btn {
  display: inline-block;
  margin-left: 10px;
  background: #6b9e4f;
  padding: 5px 10px;
  color: #fff;
}
@media (max-width: 767px) {
  table.style2 .btn {
    margin-bottom: 2%;
  }
}
@media (max-width: 767px) {
  table.style2 .btn {
    font-size: 12px;
    font-size: 1.2rem;
  }
}
@media (min-width: 768px) and (max-width: 1040px) {
  table.style2 .btn {
    font-size: 14px;
    font-size: 1.4rem;
  }
}
@media (min-width: 768px) {
  table.style2 .btn {
    font-size: 14px;
    font-size: 1.4rem;
  }
}

table.style3 {
  width: 100%;
  line-height: 1.4;
  border-bottom: 1px solid #d2d2d2;
}
@media (max-width: 767px) {
  table.style3 {
    border-bottom: none;
  }
}

table.style3 th {
  width: 100%;
  text-align: left;
  background: #f2f2f2;
  font-weight: bold;
  font-size: 14px;
  font-size: 1.4rem;
  padding: 1% 2%;
  border-left: 1px solid #d2d2d2;
  border-top: 1px solid #d2d2d2;
}
@media screen and (min-width: 768px) {
  table.style3 th {
    width: 20%;
  }
}
@media screen and (min-width: 768px) {
  table.style3 th {
    font-size: 16px;
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 768px) {
  table.style3 th {
    padding: 17px 30px 15px;
  }
}
@media (max-width: 767px) {
  table.style3 th {
    display: block;
    border-right: 1px solid #d2d2d2;
  }
}

table.style3 tr:first-of-type th {
  border-top: 1px solid #d2d2d2;
}

table.style3 tr:last-of-type {
  border-bottom: 1px solid #d2d2d2;
}

table.style3 td {
  background: #fff;
  border-top: 1px solid #d2d2d2;
  font-size: 14px;
  font-size: 1.4rem;
  width: 100%;
  display: block;
  border-right: 1px solid #d2d2d2;
  padding: 2%;
  text-align: left;
  line-height: 1.6;
}
@media screen and (min-width: 768px) {
  table.style3 td {
    font-size: 16px;
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 768px) {
  table.style3 td {
    padding: 17px 40px 15px;
  }
}
@media (max-width: 767px) {
  table.style3 td {
    border-left: 1px solid #d2d2d2;
  }
}

table.style3 td.underline {
  border-bottom: 1px solid #d2d2d2;
}

table.style4 {
  width: 100%;
}

table.style4 th {
  width: 100%;
  text-align: left;
  background: #62b2ae;
  color: #fff;
  font-size: 14px;
  font-size: 1.4rem;
  padding: 2%;
  border-top: 1px solid #cccccc;
}
@media screen and (min-width: 768px) {
  table.style4 th {
    width: 25%;
  }
}
@media screen and (min-width: 768px) {
  table.style4 th {
    font-size: 16px;
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 768px) {
  table.style4 th {
    padding: 17px 30px 15px;
  }
}
@media (max-width: 767px) {
  table.style4 th {
    display: block;
  }
}

table.style4.col2 th {
  background: #d2d2d2;
  color: #fff;
  border-bottom: 1px solid #cccccc;
}
@media (max-width: 767px) {
  table.style4.col2 th {
    display: table-cell;
    width: 25%;
  }
}

table.style4.col2 td {
  border-bottom: 1px solid #cccccc;
}
@media (max-width: 767px) {
  table.style4.col2 td {
    width: auto;
    display: table-cell;
  }
}

table.style4 td {
  text-align: left;
  background: #fff;
  border-top: 1px solid #cccccc;
  font-size: 14px;
  font-size: 1.4rem;
  padding: 2%;
  border-bottom: 1px solid #cccccc;
}
@media screen and (min-width: 768px) {
  table.style4 td {
    font-size: 16px;
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 768px) {
  table.style4 td {
    padding: 17px 30px 15px;
  }
}
@media (max-width: 767px) {
  table.style4 td {
    display: block;
    border-bottom: none;
    width: 100%;
  }
}

/* --form
************************************/
form input[type="radio"] {
  margin-right: 5px;
  position: relative;
  display: inline-block;
  top: 1px;
}

form input[type="text"],
input[type="mail"],
select {
  padding: 7px 10px;
  font-size: 15px;
  font-size: 1.5rem;
  margin: 4px 0;
  width: 100%;
  border: 1px solid #a7a7a7;
}
@media screen and (min-width: 768px) {
  form input[type="text"],
  input[type="mail"],
  select {
    padding: 7px 10px;
  }
}
@media screen and (min-width: 768px) {
  form input[type="text"],
  input[type="mail"],
  select {
    font-size: 16px;
    font-size: 1.6rem;
  }
}
@media print, screen and (min-width: 768px) {
  form input[type="text"],
  input[type="mail"],
  select {
    width: auto;
  }
}

form textarea {
  border: 1px solid #a7a7a7;
  padding: 7px 10px;
  font-size: 15px;
  font-size: 1.5rem;
  margin: 4px 0;
  width: 100%;
}
@media screen and (min-width: 768px) {
  form textarea {
    padding: 7px 10px;
  }
}
@media screen and (min-width: 768px) {
  form textarea {
    font-size: 16px;
    font-size: 1.6rem;
  }
}
@media print, screen and (min-width: 768px) {
  form textarea {
    width: auto;
  }
}

form span.small {
  font-size: 12px;
  font-size: 1.2rem;
}

form .mt {
  margin-top: 10px;
}

form .wide {
  width: 100%;
}

form label {
  margin-right: 20px;
}

form .submit_btn {
  text-align: center;
  margin-top: 40px;
}

form .submit_btn input {
  cursor: pointer;
  background: #c30000;
  color: #fff;
  padding: 15px 60px;
  display: inline-block;
  border: none;
}

.mw_wp_form_confirm span {
  display: none;
}

form .error {
  color: #f00;
  font-size: 13px;
  font-size: 1.3rem;
  padding-left: 10px;
}

form .block label {
  display: block;
  margin-bottom: 5px;
  cursor: pointer;
}

/* --bg_color
************************************/
.bg_white {
  background: #fff;
}

.bg_gray {
  background: #f2f2f2;
}

.bg_gray1 {
  background: #e7f1f2;
}

.bg_darkgray {
  background: #d8d8d8;
}

.bg_blue {
  background: #EBFBFF;
}

.bg_img1 {
  background: url(../images/bg_img1.jpg) repeat;
}

.bg_btn1 {
  position: relative;
}

.bg_btn1:before {
  content: "";
  background: url("../images/company_map_left.png") no-repeat top left;
  background-size: contain;
  width: 300px;
  height: 300px;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
}
@media (min-width: 768px) and (max-width: 1040px) {
  .bg_btn1:before {
    width: 100px;
    height: 100px;
  }
}
@media (max-width: 767px) {
  .bg_btn1:before {
    width: 50px;
    height: 50px;
  }
}

.bg_btn1:after {
  content: "";
  background: url("../images/company_map_right.png") no-repeat right bottom;
  background-size: contain;
  width: 300px;
  height: 300px;
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 0;
}
@media (min-width: 768px) and (max-width: 1040px) {
  .bg_btn1:after {
    width: 100px;
    height: 100px;
  }
}
@media (max-width: 767px) {
  .bg_btn1:after {
    width: 50px;
    height: 50px;
  }
}

/* --link_color
************************************/
.link_red {
  color: #c73c25 !important;
}

.link_red:hover {
  text-decoration: underline;
}

.link_blue {
  color: #1A2D49 !important;
}

.link_blue:hover {
  text-decoration: underline;
}

/* --font_color
************************************/
.font_red {
  color: #c73c25 !important;
}

.font_blue {
  color: #1A2D49 !important;
}

/* --img_center
************************************/
.img_center {
  display: block;
  text-align: center;
  margin: 0 auto;
}

.text_center {
  text-align: left !important;
}
@media screen and (min-width: 768px) {
  .text_center {
    text-align: center !important;
  }
}

.text_left {
  text-align: left !important;
}
@media screen and (min-width: 768px) {
  .text_left {
    text-align: left !important;
  }
}

/* --sml
************************************/
@media (max-width: 767px) {
  .sml {
    font-size: 10px;
    font-size: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 1040px) {
  .sml {
    font-size: 12px;
    font-size: 1.2rem;
  }
}
@media (min-width: 768px) {
  .sml {
    font-size: 12px;
    font-size: 1.2rem;
  }
}

/* --new
************************************/
.new:after {
  content: "new";
  margin-left: 5px;
  color: #fff;
  background: #c73c25;
  padding: 1px 3px;
  font-size: 12px;
}

/* 　　--photo_title
************************************/
/* 写真(下部)の上に説明文を重ねる */
.photo_title a {
  text-align: center;
  text-decoration: none;
}

.photo_title p {
  margin-top: 5px;
  font-size: 13px;
  font-size: 1.3rem;
}
@media screen and (min-width: 768px) {
  .photo_title p {
    margin-top: 10px;
  }
}
@media screen and (min-width: 768px) {
  .photo_title p {
    font-size: 14px;
    font-size: 1.4rem;
  }
}

.photo_title figure {
  position: relative;
  overflow: hidden;
}

.photo_title figcaption {
  position: absolute;
  bottom: 0px;
  z-index: 9999;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transition: .3s;
  opacity: 1;
  color: #fff;
  font-size: 13px;
  font-size: 1.3rem;
  padding: 4px 10px 4px;
}
@media screen and (min-width: 768px) {
  .photo_title figcaption {
    font-size: 15px;
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1040px) {
  .photo_title figcaption {
    font-size: 17px;
    font-size: 1.7rem;
  }
}
@media screen and (min-width: 768px) {
  .photo_title figcaption {
    padding: 6px 10px;
  }
}

.photo_title figcaption .center {
  text-align: center;
}

.photo_title figcaption .left {
  text-align: left;
}

.photo_title img {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  width: 100%;
  height: auto;
}

.photo_title a:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.photo_title figcaption.white {
  background: #fff;
  color: #4d4d4d;
}

.photo_title figcaption.arrow:after {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  content: url(../images/right_arrow.png);
  position: absolute;
  right: 10px;
  top: 2px;
}

.photo_title a:hover figcaption.arrow:after {
  right: 7px;
}

.photo_title.left_line {
  border-left: 2px solid #c40500;
}

/* 　　--company_list
************************************/
#company_list ul li {
  background-size: cover !important;
}

#company_list a:hover .text {
  color: #c40500;
}

#company_list ul li .text {
  text-align: center;
  margin: 30px 100px;
  padding: 10px;
  background: #fff;
  font-weight: bold;
}

#company_list .grid_col3 li {
  margin-bottom: 2%;
}
@media (min-width: 768px) {
  #company_list .grid_col3 li {
    width: 32%;
  }
}
@media (min-width: 768px) and (max-width: 1040px) {
  #company_list .grid_col3 li {
    width: 48%;
  }
}

@media (min-width: 768px) {
  #company_list .grid_col3 .col1 {
    margin-right: 2% !important;
  }

  #company_list .grid_col3 .col2 {
    margin-right: 2% !important;
  }

  #company_list .grid_col3 .col3 {
    margin-right: 0% !important;
  }

  #company_list .grid_col3 .col4 {
    margin-right: 2% !important;
  }

  #company_list .grid_col3 .col5 {
    margin-right: 2% !important;
  }
}
@media (min-width: 768px) and (max-width: 1040px) {
  #company_list .grid_col3 .col1 {
    margin-right: 2% !important;
  }

  #company_list .grid_col3 .col2 {
    margin-right: 0% !important;
  }

  #company_list .grid_col3 .col3 {
    margin-right: 2% !important;
  }

  #company_list .grid_col3 .col4 {
    margin-right: 0% !important;
  }

  #company_list .grid_col3 .col5 {
    margin-right: 2% !important;
  }
}
#company_list .grid_col3 .col:nth-child(3n+1) {
  clear: none;
}

/* 　　--特徴デザイン
************************************/
dl.point {
  border: 2px solid #c40500;
  padding: 2%;
}
@media screen and (min-width: 768px) {
  dl.point {
    padding: 20px 30px;
  }
}

dl.point dt {
  color: #c40500;
  font-weight: bold;
}

dl.point dd {
  margin-bottom: 1%;
}
@media screen and (min-width: 768px) {
  dl.point dd {
    margin-bottom: 5px;
  }
}

dl.point dd:last-child {
  margin-bottom: 0;
}

/* 　　--カタログダウンロードボタン
************************************/
.dllink {
  border: 3px solid #333;
}

.dllink h3 {
  font-size: 14px;
  font-size: 1.4rem;
  padding: 1%;
  background: #333;
  text-align: center;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .dllink h3 {
    font-size: 20px;
    font-size: 2rem;
  }
}
@media screen and (min-width: 768px) {
  .dllink h3 {
    padding: 5px 15px 5px;
  }
}

.dllink ul {
  padding: 2% 2% 0;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .dllink ul {
    padding: 20px 20px 0;
  }
}

.dllink ul li {
  margin: 0 2% 2%;
}
@media screen and (min-width: 768px) {
  .dllink ul li {
    margin: 0 10px 10px;
  }
}
@media print, screen and (min-width: 768px) {
  .dllink ul li {
    display: inline-block;
  }
}

.dllink ul li a {
  display: block;
  padding-left: 30px;
  padding-right: 40px;
}
@media print, screen and (min-width: 768px) {
  .dllink ul li a {
    display: inline-block;
  }
}

/* 　　--iziModal
************************************/
@media (max-width: 767px) {
  .iziModal {
    margin-left: 4% !important;
    margin-right: 4% !important;
  }
}

.iziModal-content .outer {
  padding: 4%;
}

.iziModal-content .outer h3 {
  text-align: center;
}
@media (max-width: 767px) {
  .iziModal-content .outer h3 {
    font-size: 20px;
    font-size: 2rem;
  }
}
@media (min-width: 768px) and (max-width: 1040px) {
  .iziModal-content .outer h3 {
    font-size: 24px;
    font-size: 2.4rem;
  }
}
@media (min-width: 768px) {
  .iziModal-content .outer h3 {
    font-size: 24px;
    font-size: 2.4rem;
  }
}
@media (max-width: 767px) {
  .iziModal-content .outer h3 {
    padding-bottom: 4%;
  }
}
@media (min-width: 768px) and (max-width: 1040px) {
  .iziModal-content .outer h3 {
    padding-bottom: 30px;
  }
}
@media (min-width: 768px) {
  .iziModal-content .outer h3 {
    padding-bottom: 30px;
  }
}

.iziModal-content .outer h4 {
  text-align: left;
}
@media (max-width: 767px) {
  .iziModal-content .outer h4 {
    font-size: 16px;
    font-size: 1.6rem;
  }
}
@media (min-width: 768px) and (max-width: 1040px) {
  .iziModal-content .outer h4 {
    font-size: 20px;
    font-size: 2rem;
  }
}
@media (min-width: 768px) {
  .iziModal-content .outer h4 {
    font-size: 20px;
    font-size: 2rem;
  }
}
@media (max-width: 767px) {
  .iziModal-content .outer h4 {
    padding-bottom: 4%;
  }
}
@media (min-width: 768px) and (max-width: 1040px) {
  .iziModal-content .outer h4 {
    padding-bottom: 30px;
  }
}
@media (min-width: 768px) {
  .iziModal-content .outer h4 {
    padding-bottom: 30px;
  }
}

.iziModal-content .outer ol li {
  text-align: left;
  padding-left: 1em;
  text-indent: -1em;
}
@media (max-width: 767px) {
  .iziModal-content .outer ol li {
    font-size: 14px;
    font-size: 1.4rem;
  }
}
@media (min-width: 768px) and (max-width: 1040px) {
  .iziModal-content .outer ol li {
    font-size: 16px;
    font-size: 1.6rem;
  }
}
@media (min-width: 768px) {
  .iziModal-content .outer ol li {
    font-size: 16px;
    font-size: 1.6rem;
  }
}

/* 　　--image-hover
************************************/
.image-hover {
  position: relative;
  overflow: hidden;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.image-hover a img {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  height: auto;
}

.image-hover a:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 0.8;
}

.image-hover a {
  position: relative;
  display: block;
}

.image-hover a:after {
  display: inline-block;
  content: '';
  position: absolute;
  right: 0;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.4) url(../images/icon_large.svg) no-repeat center center;
  background-size: 26px auto;
  width: 34px;
  height: 34px;
}

@media (max-width: 767px) {
  .lb-data .lb-caption {
    font-size: 18px !important;
    font-size: 1.8rem !important;
  }
}
