@charset "utf-8";

@import "base/_config";
@import "base/_mixin";
@import "base/_extend";


/* --
************************************/

/* pc:2col  */

.grid_col2 {
    width: 100%;
}

.grid_col2 .col {
    float: left;
    width: 48%;
    margin-right: 4%;
    margin-bottom: 4%;
    &:nth-child(2n) {
        margin-right: 0;
    }
    &:nth-child(2n+1) {
        clear: both;
    }
}

.grid_col2.tab1 .col {
    @include tab_only() {
        width: 100%;
        margin-right: 0;
        &:nth-child(2n) {
            margin-right: none;
        }
        &:nth-child(2n+1) {
            clear: none;
        }
    }
}

.grid_col2.sp1 .col {
    @include sp_only() {
        width: 100%;
        margin-right: 0;
        &:nth-child(2n) {
            margin-right: none;
        }
        &:nth-child(2n+1) {
            clear: none;
        }
    }
}

/* pc:3col  */

.grid_col3 {
    width: 100%;
}

.grid_col3 .col {
    float: left;
    width: 33.3%;
    &:nth-child(3n+1) {
        clear: both;
    }
}

.grid_col3.tab1 .col {
    @include tab_only() {
        width: 100%;
        margin-right: 0;
        &:nth-child(3n) {
            margin-right: none;
        }
        &:nth-child(3n+1) {
            clear: none;
        }
    }
}
.grid_col3.tab2 .col {
    @include tab_only() {
        width: 50%;
        margin-bottom: 0%;
        &:nth-child(even) {
            margin-right: 0;
        }
        &:nth-child(odd) {
            clear: both;
        }
        &:nth-child(3n) {
            margin-right:none;
        }
        &:nth-child(3n+1) {
            clear: none;
        }
    }
}
.grid_col3.sp1 .col {
    @include sp_only() {
        width: 100%;
        margin-right: 0;
        &:nth-child(3n) {
            margin-right: none;
        }
        &:nth-child(3n+1) {
            clear: none;
        }
    }
}

.grid_col3.sp2 .col {
    @include sp_only() {
        width: 48%;
        margin-right: 4%;
        &:nth-child(even) {
            margin-right: 0;
        }
        &:nth-child(odd) {
            clear: both;
        }
        &:nth-child(3n) {
            margin-right:none;
        }
        &:nth-child(3n+1) {
            clear: none;
        }
    }
}
.grid_col3.mr .col {
    width: 31%;
    margin-right: 2.3333%;
    &:nth-child(3n) {
        margin-right:0;
    }
}

/* pc:4col  */

.grid_col4 {
    width: 100%;
}

.grid_col4 .col {
    float: left;
    width: 23.5%;
    margin-right: 2%;
    margin-bottom: 1.5%;    
    &:nth-child(4n) {
        margin-right: 0;
    }
    &:nth-child(4n+1) {
        clear: both;
    }
}


.grid_col4.tab1 .col {
    @include tab_only() {
        width: 100%;
        margin-right: 0;
        &:nth-child(4n) {
            margin-right: none;
        }
        &:nth-child(4n+1) {
            clear: none;
        }
    }
}

.grid_col4.tab2 .col {
    @include tab_only() {
        width: 48%;
        margin-right: 4%;
        margin-bottom: 4%;
        &:nth-child(even) {
            margin-right: 0;
        }
        &:nth-child(odd) {
            clear: both;
        }
        &:nth-child(4n) {
            margin-right:none;
        }
        &:nth-child(4n+1) {
            clear: none;
        }
    }
}
.grid_col4.tab3 .col {
    @include tab_only() {
        width: 32.0%;
        margin-right: 2%;
        margin-bottom: 1%;

        &:nth-child(3n) {
            margin-right: 0;
        }
        &:nth-child(3n+1) {
            clear: both;
        }
        &:nth-child(4n) {
            margin-right:none;
        }
        &:nth-child(4n+1) {
            clear: none;
        }
    }
}

.grid_col4.sp1 .col {
    @include sp_only() {
        width: 100%;
        margin-right: 0;
        &:nth-child(4n) {
            margin-right: none;
        }
        &:nth-child(4n+1) {
            clear: none;
        }
    }
}

.grid_col4.sp2 .col {
    @include sp_only() {
        width: 48%;
        margin-right: 4%;
        margin-bottom: 4%;
        &:nth-child(even) {
            margin-right: 0;
        }
        &:nth-child(odd) {
            clear: both;
        }
        &:nth-child(4n) {
            margin-right:none;
        }
        &:nth-child(4n+1) {
            clear: none;
        }
    }
}
.grid_col4.sp3 .col {
    @include sp_only() {
        width: 30.666%;
        margin-right: 4%;

        &:nth-child(3n) {
            margin-right: 0;
        }
        &:nth-child(3n+1) {
            clear: both;
        }
        &:nth-child(4n) {
            margin-right:none;
        }
        &:nth-child(4n+1) {
            clear: none;
        }
    }
}
.grid_hover .col {
    position: relative;
    overflow: hidden;
}
.grid_hover .col a{
    position: relative;
    display: block;
}
.grid_hover .col a:after{
    display: inline-block;
    content:'';
    position: absolute;
    right: 0;
    bottom: 0px;
    background: rgba(0,0,0,0.4) url(../images/icon_large.svg) no-repeat center center;
    background-size: 26px auto;
    width: 34px;
    height: 34px;

}

.grid_hover img {
    @include vender(transition, all 0.2s linear);
    width: 100%;
    height: auto;
}
.grid_hover a:hover img {
  @include vender(transform,scale(1.1));
  opacity: 0.8;
}
.grid_hover a:hover .photo {
    opacity: 0.8;
}

.grid_hover .col p.text {
    position: relative;
    display: block;
    background: #fff;
    @include padding-top(5px,10px);  
    @include size(15,17);
}
.bg_gray .grid_hover .col p.text {
    background: #f2f2f2;
}


/* tablecol  */

ul.tablecol {
    display: table;
    width: 100%;
}

ul.tablecol.col2 li {
    display: table-cell;
    width: 50%;
}

ul.tablecol.col3 li {
    display: table-cell;
    width: 33.3333%;
}

ul.tablecol.col4 li {
    display: table-cell;
    width: 25%;
}

ul.tablecol.col5 li {
    display: table-cell;
    width: 20%;
}

ul.tablecol.sp1 {
    @include sp_only() {
        display: block;
        width: 100%;
    }
}

ul.tablecol.sp1 li {
    @include sp_only() {
        display: block;
        width: 100%;
    }
}

/* list  */
.list1 dl{
    border-bottom:1px solid $border_color;
    @include pt_s;
    @include pb_s;
}

.list1 dl:last-of-type {
    // border-bottom:none;
}

.list1 dl dt{
    @include tab() {
    width: 9em;
    float: left;
    }
    
}
.list1 dl dd{
        @include tab() {
overflow: hidden;   
}
}
.list1 a {
    &:hover {
        text-decoration: none!important;
        color: #2687a8 ;
    }
}

ul.list1{

}
ul.list1 li{
    padding-left:1em;
    text-indent:-1em;
    @include margin-bottom(5px,10px);
    @include fsize;
}
ul.list1 li:before{
    content: '・';
    color: #c40500;
}

ul.list2 {
    width:100%;
}
ul.list2 li {
    @include fsize;
    padding-left:1em;
    text-indent:-1em;

}
ul.list3{

}
ul.list3 li{
    border:1px solid #c40500;
    color: #c40500;
    text-align: center;
    @include padding(5px,10px);
    @include margin-bottom(5px,10px);
}

.grid_linkbtn .col {
    float:left;
    width:33.333%;
    @include tab_only {
        display:block;
        width:100%;
    }
    @include sp_only {
        display:block;
        width:100%;
    }
}
.grid_linkbtn .col a {
    position:relative;
    display: block;
    color: #fff !important;
    text-align:center;
    @include padding(15px 0);
    @include fsize_s;
    @include vender(transition, all 0.3s ease);
    &:hover {
        background: #fff!important;
        color: #2687a8 !important;
        @include vender(transition, all 0.3s ease);
    }
    &:after {
        content:"";
        position:absolute;
        box-sizing: border-box;
        right: 14px;
        top:34%;
        width: 18px;
        height: 18px;
        border: 1px solid #fff;
        -webkit-border-radius: 50%;
        border-radius: 50%;
    }
    &:before {
        content:"";
        position:absolute;
        right: 22px;
        top:46%;
        width: 5px;
        height: 5px;
        border-top: 1px solid #fff;
        border-right: 1px solid #fff;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}
.grid_linkbtn .col:nth-child(1) a {
    background:#49a2ba;
    border: 1px solid #49a2ba;
}
.grid_linkbtn .col:nth-child(2) a {
    background:#2687a8;
    border: 1px solid #2687a8;
}
.grid_linkbtn .col:nth-child(3) a {
    background:#49a2ba;
    border: 1px solid #49a2ba;
}




.grid_ptn1 {
    @include flex_box();
    @include flex_row();
    width: 100%;
}

.grid_ptn1 .photo {
    height: auto;
    background:#eceff4;
    width:100%;
    @include tab_only {
        width:50%;
        @include flex_box();
        @include flex_col();
        justify-content: center;

    }
    @include pc {
        width:50%;
        @include flex_box();
        @include flex_col();
        justify-content: center;

    }
}

.grid_ptn1 .photo img {
    max-width:100%;
    height:auto;
    margin: 0 auto;
    display:block;
}

.grid_ptn1 .text {
    width:100%;
    padding:4%;

    height: auto;
    @include flex_box();
    @include flex_col();
    align-items: left;
    justify-content: center;
    @include tab_only {
        padding-top:30px;
        padding-left:40px;
        padding-right:40px;
        width:50%;
    }
    @include pc {
        padding-top:30px;
        padding-left:40px;
        padding-right:40px;
        width:50%;
    }
}

.type1 {
    @include flex_col();
    @include tab_only {
        @include flex_row();
    }
    @include pc {
        @include flex_row();
    }
}
.type2 {
    @include flex_col();
    @include tab_only {
        @include flex_row_reverse();
    }
    @include pc {
        @include flex_row_reverse();
    }
}

.type1 .text {
    background: #e5e5e5;
}
.type1 .photo {
    background: #e5e5e5!important;
}
.type1 .text h3 {
    @include pc {
        text-align:left;
    }
}
.type2 .text {
    background: #e5e5e5;
}
.type2 .photo {
    background: #e5e5e5!important;
}
.type2 .text h3 {
    @include pc {
        text-align:left;
    }
}
