@charset "utf-8";

@import "base/_config";
@import "base/_mixin";
@import "base/_extend";

@import url('https://fonts.googleapis.com/css?family=Archivo+Black');
@import url('https://fonts.googleapis.com/css?family=Istok+Web:700|Josefin+Sans|Open+Sans');
@import url(//fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@import url('https://fonts.googleapis.com/css?family=Crimson+Text');


/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　共通箇所 (基本タグ設定)
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

html,
body {
    width: 100%;
}

html {
    font-size: 62.5%;
}

body {
    background: $bg_body;
    text-align: center;
    line-height: 1.75;
    @include size(16);
    color: $color_text;
    font-family: $font_family;
    -webkit-text-size-adjust: 100%;
}

.wrapper {
    width: 100%;
    margin: 0px auto;
    text-align: left;
    padding: 0 4%;
    @include pc() {
        width: $width_wrapper;
        padding: 0;
    }
}



/* link */

a {
    color: $color_link;
    text-decoration: none;
    outline: none;
}

a:link {
    color: $color_link;
}

a:visited {
    color: $color_link;
}

a:hover {
    color: $color_link;
}

#outer {
    width: 100%;
    overflow-x: hidden;
}

#contents p {
    @include size(14,16);
    letter-spacing: 1px;
    color: #333;
    line-height:2;
}

#loading_wrap {
    background: #fff;
    z-index: 9999;
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
}
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　--header
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

header {
    z-index: 999;
    background: rgba(255, 255, 255, 1);
    position: fixed;
    top:0;
    left:0;
    width:100%;

}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　--pcmenu
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
header .pcmenu .wrapper {
    @include pc() {
    width: 1000px;
    }
}

header .pcmenu {
    background: $keycolor1;
    @include display(false, block, block);
    @include vender(transition, all 0.5s ease);
    width: 100%;
    top: 0;
    display: fixed;
    position: relative;
    @include sp_only {
        display:none;
    }
}

@media screen and (max-width:1049px) {
header .pcmenu {
    display: none;
}
}
header .pcmenu h1 {
    float: left;
    padding:17px 0 0 5px;
    @include pc() {
    padding: 16px 0 0 12px;
    }
}
header .pcmenu h1 img{
    height: auto;
    @include pc() {
    }
}
header .pcmenu .contact {
  float:right;
}
header .pcmenu .contact a {
    background:$keycolor2;
    font-size: 15px;
    font-size: 1.5rem;
    padding: 24px 23px 28px 23px;
    display: block;
    color: #fff;
}
header .pcmenu .contact a:hover {
    background: #C1A11B;
}
header .pcmenu .contact a img {
    position: relative;
}

header.fixed .pcmenu .contact {
    box-shadow: 0 1px 8px rgba(0,0,0,.13);
}

header .pcmenu nav {
@include tab() {
    width: auto;
    float: right;
}
@include pc() {
     width: auto;
  float: right;
};
}
header .pcmenu nav ul{
    width: 100%;
    display: table;
  display: block;
  padding-right: 10px;
}
header .pcmenu nav > ul > li {
    padding: 17px 0px 15px;
    float: left;
    display: block;
    line-height: 1.4;
//    position:relative;
 }
header .pcmenu nav > ul > li a {
  padding: 5px 5px;
  color:#fff;
  text-align: center;
  display: block;
  position: relative;
  @include size(15);
  @include tab() {
    padding: 5px 22px;
}
  position: relative;
}

header .pcmenu nav > ul > li a span {
    display: block;
    font-size:11px;
    color:#B3B3B3;
}
header .pcmenu nav > ul > li a:hover span {
    color:$keycolor2;
}

header .pcmenu nav > ul > li:last-child a{
      border-right: none;
}
header .pcmenu nav > ul > li a:after {
  position: absolute;
  bottom: -3px;
  left: 7%;
  content: "";
  width: 84%;
  height: 2px;
  background: $keycolor1;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform .5s; }

header .pcmenu nav > ul > li a:hover:after {
  transform: scale(1, 1); }

header .pcmenu nav > ul > li a:hover {
  color: #AA8D13; }





header .pcmenu nav ul li .drop {
    width: 100%;
    left:0;
    display: none;
    position: absolute;
    float: none;
    z-index: 999;
//    background: #fff;
    top: 63px;
    @include tab_only {
        display: none!important;
    }
}
header .pcmenu nav ul li .drop.comp {width: 100%;}

header .pcmenu nav ul li .drop .transparent-box {
    width: 100%;
    background: transparent;
//    height:15px;
    position: relative;
}

header .pcmenu nav ul li .drop .transparent-box .arrow {
    border-right: 7px solid transparent;
    border-bottom: 11px solid rgba(41,51,55,0.97);
    border-left: 7px solid transparent;
    position: absolute;
    bottom: 0;
}
header .pcmenu nav ul li .drop.comp .transparent-box .arrow {right: 328px;}
header .pcmenu nav ul li .drop.recruit .transparent-box .arrow {right: 228px;}
header .pcmenu nav ul li .drop.business .transparent-box .arrow {right: 518px;}
header .pcmenu nav ul li .drop.works .transparent-box .arrow {right: 424px;}

header .pcmenu nav ul li .drop .mega-outer {
//    background: #1d1d1d;
    background: rgba(41,51,55,0.97);
}

header .pcmenu nav ul li .drop .cont {
    overflow: hidden;
    padding: 25px 24px 0 30px;
}
header .pcmenu nav ul li .drop ol {
    margin-right: -4%;
    overflow: hidden;
    text-align: left;
}
header .pcmenu nav ul li .drop ol li {
    display: block;
    margin: 0 2% 12px 0;
    color: #000;
}

// comp **************************************************

header .pcmenu nav ul li .drop.comp ol.left {
    width: 48%;
    float:left;
    margin-right:4%;
}
header .pcmenu nav ul li .drop.comp ol.right {
    width: 48%;
    float:left;
}
header .pcmenu nav ul li .drop.comp .cont {
    width: 58%;
    float:left;
}
header .pcmenu nav ul li .drop.comp .photo {
    width: 20%;
    float:left;
    padding-top:20px;
}
header .pcmenu nav ul li .drop.comp .top-message {
    width: 22%;
    float:left;
    padding-top:20px;
    padding-left:2%;
}
header .pcmenu nav ul li .drop.comp .top-message h3 {
    font-family:$font_mincho;
    padding-top:70px;
    font-weight: bold;
    color:#fff;
    @include size(24);
}
header .pcmenu nav ul li .drop.comp .top-message .linkbtn a {
    border: 1px solid #aaa;
    color:#fff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

}
header .pcmenu nav ul li .drop.comp .top-message .linkbtn a:hover {
    border: 1px solid #fff;
    color:#000;
    background: #fff;
    
}

header .pcmenu nav ul li .drop.comp .top-message .linkbtn {
    position: relative;
}
header .pcmenu nav ul li .drop.comp .top-message .linkbtn:after {
    content: '';
    position: absolute;
    right: 13px;
    top: 14px;
    width: 6px;
    height: 6px;
    border-top: 2px solid #aaa;
    border-right: 2px solid #aaa;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
header .pcmenu nav ul li .drop.comp .top-message .linkbtn a:hover:after {
    transform: scale(0, 0);
}
// recruit **************************************************
header .pcmenu nav ul li .drop.recruit ol.left {
    width: 48%;
    float:left;
    margin-right:4%;
}
header .pcmenu nav ul li .drop.recruit ol.right {
    width: 48%;
    float:left;
}
header .pcmenu nav ul li .drop.recruit .cont {
    width: 50%;
    float:left;
    padding-bottom:40px;
}
header .pcmenu nav ul li .drop.recruit .photo {
    width: 50%;
    float:left;
    padding-top:60px;
}
header .pcmenu nav ul li .drop.recruit .photo p {
    padding:0;
    text-align: center;
}
header .pcmenu nav ul li .drop.recruit .photo .linkbtn a {
    color:#fff;
    font-size: 13px;
    padding-top:5px;
    color: #fff;
    padding-top: 5px;
    display: inline;
}
header .pcmenu nav ul li .drop.recruit .photo a {
    padding:0;
}
header .pcmenu nav ul li .drop.recruit .photo a img {
    border: 2px solid $keycolor1;
}
header .pcmenu nav ul li .drop.recruit .photo a:hover:after {
    transform: scale(0, 0);
}

// business **************************************************
header .pcmenu nav ul li .drop.business ol.left {
    width: 48%;
    float:left;
    margin-right:4%;
}
header .pcmenu nav ul li .drop.business ol.right {
    width: 48%;
    float:left;
}
header .pcmenu nav ul li .drop.business .cont {
    width: 50%;
    float:left;
    padding-bottom:40px;
}
header .pcmenu nav ul li .drop.business .photo {
    width: 50%;
    float:left;
    position: relative;
    overflow: hidden;
}
header .pcmenu nav ul li .drop.business .photo a {
    padding:0;
}
header .pcmenu nav ul li .drop.business .photo a:hover:after {
    transform: scale(0, 0);
}

// works **************************************************
header .pcmenu nav ul li .drop.works .wrapper {
    padding-left:30px;
    
}
header .pcmenu nav ul li .drop.works .mega-title {
    margin-top:25px;
}
header .pcmenu nav ul li .drop.works .works-outer {
    width: 100%;
    margin-top:30px;
    padding:0px 0 40px;
}
header .pcmenu nav ul li .drop.works .works-menu {
    width: 20%;
    float:left;
}
header .pcmenu nav ul li .drop.works .works-menu a {
    padding:0;
    margin:0 18px;
}
header .pcmenu nav ul li .drop.works .works-text {
    background: #fff;
    padding: 5px 10px 5px 10px;
    text-align: left;
    position: relative;
}
header .pcmenu nav ul li .drop.works .works-text:after {
    content: "";
    position: absolute;
    right:0;
    bottom:0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 12px 12px;
    border-color: transparent transparent $keycolor1 transparent;
}

header .pcmenu nav ul li .drop.works a:hover:after {
    transform: scale(0, 0);
}





header .pcmenu nav ul li .drop .mega-title {
    @include size(18);
    color:#fff;
    border-bottom:1px solid #aaa;
    margin-bottom:20px;
    padding-bottom:10px;
    position: relative;
}
header .pcmenu nav ul li .drop .mega-title a {
    color:#fff;
    text-align: left;
    display: inline;
    padding:0;
}
header .pcmenu nav ul li .drop .mega-title a:hover:after {
    transform: scale(0, 0);
}
header .pcmenu nav ul li .drop .mega-title:after {
    content: '';
    position: absolute;
    top: 10px;
    margin-left:5px;
    width: 9px;
    height: 9px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

header .pcmenu nav ul li .drop ol li a {
    text-align: left;
    color:#fff;
    border-bottom:1px solid #aaa;
    display: block;
    padding: 8px 0px 6px 0px;
    @include size(14);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
header .pcmenu nav ul li .drop ol li {
    position: relative;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
header .pcmenu nav ul li .drop ol li:after {
    content: '';
    position: absolute;
    right: 13px;
    top: 14px;
    width: 7px;
    height: 7px;
    border-top: 1px solid #aaa;
    border-right: 1px solid #aaa;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

}
header .pcmenu nav ul li .drop ol li:hover a {
    padding-left:7px;
}
header .pcmenu nav ul li .drop ol li:hover:after {
    right:7px;
}

header .pcmenu nav ul li .drop ol li a:hover:after {
    transform: scale(0, 0);
}
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　--spmenu
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
header .spmenu {
    z-index: 999999;
    width: 100%;
    height: 52px;
    top: 0;
    @include display(block, none, none);
    position: fixed;
    background: $keycolor1;
    position: relative;
}

@media screen and (max-width:1049px) {
    header .spmenu {
        display: block;
    }
}
header .spmenu h2 {
    text-align:left;
}
header .spmenu h2 img {
    @include width(180px,180px,200px);
    height: auto;
    padding-left: 39px;
    padding-top: 8px;

}
@media screen and (max-width:1049px) {
    header .spmenu h2 img {
    @include width(180px);
    height: auto;
    padding-left: 39px;
    padding-top: 8px;
    }
}
header .spmenu .drawer-hamburger {
    width: 2.6rem;
    padding: 10px 16px 30px;
    position: fixed;
    z-index: 99999;
    margin-top:0px;
    background: $keycolor2;
}

header .spmenu #menu-text {
    position: absolute;
    padding-top:15px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    left: 14px;
}

.drawer-open #menu-text {
    left: 12px!important;
}
.drawer-close #menu-text {
    left: 14px!important;
}

.drawer-hamburger-icon, .drawer-hamburger-icon:after, .drawer-hamburger-icon:before {
    background-color: #fff!important;
}
.drawer-open .drawer-hamburger-icon {
    background-color: $keycolor2!important;

}

header .spmenu .drawer-brand {
    max-width: 200px;
    margin-left: -15px;
}
header .spmenu .drawer-brand img {
      width: 84%;
      height: auto;
        margin-top: 7px;
}

@media screen and (max-width:1049px) {
    header .spmenu .drawer-menu-item {
        border-bottom: 1px solid #aaa;
        text-align: left;
        padding: 20px 8% 20px 4%;
        background: #fff;
        position: relative;
        font-size: 15px;
        font-size: 1.5rem;
    }
}
@include tab_only {
    header .spmenu .drawer-menu-item {
        padding: 2% 8% 2% 4%;
    }   
}
@include sp_only {
    header .spmenu .drawer-menu-item {
        padding: 3% 8% 3% 4%;
    }   
}
header .spmenu .bnr {
    padding:4%;
    background:#fff;
    margin-top: -28px;
}
header .spmenu .bnr img {
    border:2px solid $keycolor1;
}
header .spmenu .color .drawer-menu-item {
    border-bottom: 1px solid #aaa;
    background: #fff;
    color: $keycolor1;
    font-weight: bold;
    width: 100%;
    float: left;
    font-size: 14px;
}
header .spmenu .color .drawer-menu-item:hover {
    text-decoration: none;
}
header .spmenu .color .drawer-menu-item span {
    font-size: 12px;
    color: #337cc4;
    display: block;
    font-weight: normal;
    line-height: 1;
}
.drawermenu .inner {
    border-top:1px solid #AA8D13!important;
}

header .spmenu .sp-title {
    font-size: 13px;
    font-weight: bold;
    width: 100%;
    color: #fff;
    text-align: left;
    padding: 2% 0 2% 4%;
    border-bottom: 1px solid #fff;
    background: #AA8D13;
}

header .spmenu li #acMenu dt {
  border-bottom: 1px solid #aaa;
  text-align: left;
  padding: 3% 4%;
  font-size: 15px;
  font-size: 1.5rem;
  background:#595555;
  color:#fff;
}

header .spmenu li #acMenu dd {
  background: #ffffff;
  text-align: center;
  display: none;
  margin: 0px;
  padding: 0px;
}

header .spmenu li #acMenu .accordion_icon, .accordion_icon span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}

header .spmenu li #acMenu .accordion_icon {
  position: relative;
  width: 20px;
  height: 20px;
  float: right;
    margin-right: -5px;
    top: 7px;
  margin-bottom: 0px !important;
}

header .spmenu li #acMenu .accordion_icon span {
  position: absolute;
  left: 6px;
  width: 50%;
  height: 1px;
  background-color: #fff;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
}

header .spmenu li #acMenu .accordion_icon span:nth-of-type(1) {
  top: 5px;
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
}

header .spmenu li #acMenu .accordion_icon span:nth-of-type(2) {
  top: 5px;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

/*＋、－切り替え*/
header .spmenu li #acMenu .accordion_icon.active span:nth-of-type(2) {
  display: none;
}

#acMenu .accordion_icon.active span:nth-of-type(1) {
  top: 5px;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

header .spmenu .inner{
  background-repeat: no-repeat;
  width:100%;
  height:1000px;
}


header .spmenu .drawer-menu-item:after {
  position: absolute;
  top: 54%;
  right: 4%;
  display: block;
  content: "";
  width: 6px;
  height: 6px;
  margin-top: -3px;
  border-top: 1px solid #aaa;
  border-right: 1px solid #aaa;
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
header .spmenu .color .drawer-menu-item:after {
  border-top: 1px solid #aaa;
  border-right: 1px solid #aaa;
}
header .spmenu .drawer-menu-item:hover {
    text-decoration: underline;
}
header .spmenu .drawer-nav {
    background-color: rgba(0,0,0,0.8)!important;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　--pagetitle
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#pagetitle {
    width: 100%;
    //background-size:cover!important;
    background-color: #9cb9db;
    position:relative;
    position: relative;
    @include margin-top(51px,51px, 77px);
    z-index: 1;
}
@media screen and (max-width:1049px) {
    #pagetitle {
        margin-top:52px;
    }
}
#pagetitle .bg-mask {
    //height:100%;
    //width: 100%;
    //background: rgba(26, 45, 45, 0.35);
}
#pagetitle .pagetitle-text {
  @include size(18,28);
  font-weight: 400;
  letter-spacing: 4px;
  //color:#fff;

    @include sp_only {
        padding-top:20px;
        padding-bottom:20px;
    }
    @include tab {
        padding-top:40px;
        padding-bottom:40px;
    }
    @include pc {
        padding-top:40px;
        padding-bottom:40px;
    }
}


/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　--pan
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

#pan {
    text-align: left;
    background:rgba(0,0,0,0.5);
    color:#fff;
    @include size(11,12);
    @include padding(7px 0px 5px 4%,7px 0px 5px 20px);
    @include sp_only {
      display:none;
    }
}
#pan a {
    color:#fff;
}

#pan a:hover{
    text-decoration: underline;
}
#pan h2 {}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　--pagelink
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

#pagelink {
  background: #e3e3e3;
  @include padding-top(2%,20px);
  @include padding-bottom(1.5%,15px);
  text-align: center;
}
#pagelink ul{
  display: inline-block;
}
#pagelink ul li{
 display: inline-block;
 @include padding(1% 8px 1%,5px 15px 5px);
}
#pagelink ul li a{
      border: 1px solid #c40500;
    color: #c40500;
     display: inline-block;
    position: relative;
    padding: 6px 20px 6px 14px;
    background-color: #fff;
    background-size: 200% 100%; 
    background-image: -webkit-linear-gradient(left, transparent 50%, rgba(196,5,0,1) 50%);  
    background-image: linear-gradient(to right, transparent 50%, rgba(196,5,0,1) 50%);
    -webkit-transition: background-position .7s cubic-bezier(0.19, 1, 0.22, 1) .1s, color .7s ease 0s, background-color .7s ease;
    transition: background-position .7s cubic-bezier(0.19, 1, 0.22, 1) .1s, color .7s ease 0s, background-color .7s ease;
    @include tab() {
      min-width: 150px;
    }
}
#pagelink ul li a:after {
  content: "";
  background: transparent;

}
#pagelink ul li a:hover {
  color:#fff;
    background-color: #c40500;
    background-position: -100% 100%;
}
#pagelink ul li a:before {
  position: absolute;
    top: 54%;
    right: 8px;
    display: block;
    content: "";
    width: 4px;
    height: 4px;
    margin-top: -3px;
    border-top: 1px solid #c40500;
    border-right: 1px solid #c40500;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
#pagelink ul li a:hover:before {
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
}


/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　--contents
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

#contents_wrap {
    @include pc() {
    margin-top: 0px;
}
}

#contents {
    @include fsize;
    text-align: left;
    width: 100%;
}






/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　--sidebar
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

#sidebar {}



/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　--footer
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
footer .wrapper {
    @include pc() {
    width: 1000px;
    }
}
footer{
  @include padding(4% 0 0,0 0 0);
    background: $keycolor1;
}
footer .footer_inner {
    padding-top:30px;
    padding-bottom:30px;
    border-bottom:1px solid #999999;
    @include sp_only {
        padding-top:0;
        border-bottom:none;
        padding-bottom:0%;
    }
}
footer .footer_left {
    width: 21%;
    float:left;
    @include sp_only {
        float:none;
        margin:0 auto;
    }
}
footer .footer_contact {
    width: 20%;
    float:left;
    padding-top: 9px;
}
footer .footer_contact a {
    background: #aa8d13;
    color: #fff;
    text-align: center;
    padding: 8px 56px 8px 46px;
    font-size: 15px;
    letter-spacing: 1px;
    position: relative;
}
footer .footer_contact a:after {
    position: absolute;
    content: "";
    top: 53%;
    right: 12px;
    display: block;
    content: "";
    width: 6px;
    height: 6px;
    margin-top: -3px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
footer .footer_left img {
    @include sp_only {
        width:160px;
        text-align: center;
        margin: 0 auto;
        display: block;
    }
}
footer .footer_left a {
    @includ sp_only {
        text-align: center;
        float:none;
    }
}
footer .footer_right {
    width: 59%;
    float:right;
    padding-top: 5px;
    @include sp_only {
        padding-top:0!important;
    }
}


footer .footer_right address {
    text-align: right;
    @include size(14);
    padding-top:10px;
    @include sp_only {
        text-align: left;
        font-size:13px;
        padding-top:2%;        
    }
}


@media screen and (max-width:1042px) {
    footer .footer_left {
        width: 200px;
    }
    footer .footer_contact {
        width: 70%;
        @include sp_only {
            width: 100%;
            margin-top:4%;
            margin: 0 auto;
            display: block;
            text-align: center;
        }
    }
    footer .footer_right {
        width: 100%;
        padding-top: 17px;
    }
        
}

footer .footer_contact a {
    @include sp_only {
        margin-top:2%;
        margin-bottom:2%;
        display: block;
    }
}
 





footer nav ul {
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    @include sp_only {
        display: block;
        border-top:1px solid #aaa;
        margin-top:4%;
        margin-bottom:2%;
    }
}
footer nav ul li {
    padding:0px 20px;
    @include sp_only {
        border-bottom:1px solid #aaa;
        padding:5px 0;
    }
}
footer nav ul li a {
    color:#fff!important;
    @include size(14);
    @include sp_only {
        display: block;
    }
}
footer nav ul li:last-of-type {
    padding-right:0;
}

footer .copy {
    color:#fff;
    text-align: right;
    letter-spacing: 0.25px;
    padding:15px 0;
    @include size(11);
    @include sp_only {
      text-align: center;
      margin-top:2%;
    }
    @include tab_only {
      text-align: center;
      margin-top:2%;
    }

}

#page_top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    img {
        width: 60px;
        height: 60px;
    }
}

#pagination {
    position: relative;
    left: 50%;
    float: left;
    list-style: none;
    margin: 20px 0 40px;
}

#pagination .page-numbers {
    position: relative;
    left: -50%;
    float: left;
}

#pagination .page-numbers, #pagination .page-numbers:hover {
    border: solid 1px #CECECE;
    color: #FFFFFF;
    background: #2687a8;
}
#pagination .page-numbers.current {
    border: solid 1px #CECECE;
    color: #FFFFFF;
    background: #2687a8;
}
#pagination .page-numbers {
    border: 1px solid #CECECE;
    margin: 0 3px;
    padding: 3px 7px;
    display: block;
    text-decoration: none;
    color: #666666;
    background: #fff;
}

.pagination {
    position: relative;
    left: 50%;
    float: left;
    list-style: none;
    margin: 20px 0 40px;
}

.pagination .page-numbers {
    position: relative;
    left: -50%;
    float: left;
}

.pagination .page-numbers, #pagination .page-numbers:hover {
    border: solid 1px #CECECE;
    color: #FFFFFF;
    background: #2687a8;
}
.pagination .page-numbers.current {
    border: solid 1px #CECECE;
    color: #FFFFFF;
    background: #c40500;
}
.pagination .page-numbers {
    border: 1px solid #CECECE;
    margin: 0 3px;
    padding: 3px 7px;
    display: block;
    text-decoration: none;
    color: #666666;
    background: #fff;
}