@charset "utf-8";
@import "base/_config";
@import "base/_mixin";
@import "base/_extend";


/********************************************************************************
　--index
*********************************************************************************/
#page_index #mainimage {
    //background:url(../images/mainimage.jpg) no-repeat bottom center;
    //background-size:cover;
    background-color: #9cb9db;
    @include margin-top(51px, 51px, 77px);
    position: relative;

    @include sp_only {
        //   background:url(../images/mainimage_sp.jpg) no-repeat bottom center;
        //   background-size:cover;
        background-color: #9cb9db;

    }
}

@media screen and (max-width:1049px) {
    #page_index #mainimage {
        margin-top: 51px;
    }
}

#page_index #mainimage .wrapper {
    width: 1000px;
    position: relative;
    @include padding-bottom(4%, 51px, 77px);

    @media screen and (max-width: 1000px) {
        width: 100%;

    }
}

/*
#page_index #mainimage:before {
    content: "";
    position: absolute;
    left:0;
    bottom:0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 185px 0 0 160px;
    border-color: transparent transparent transparent $keycolor3;
    @include tab_only {
        border-width: 123px 0 0 106px;
    }
    @include sp_only {
        border-width: 61px 0 0 53px;
    }
}
#page_index #mainimage:after {
    content: "";
    position: absolute;
    right:0;
    bottom:0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 380px 280px;
    border-color: transparent transparent $keycolor3 transparent;
    @include tab_only {
        border-width: 0 0 253px 186px;
    }
    @include sp_only {
        border-width: 0 0 126px 93px;
    }

}
*/
#page_index .main-outer {
    width: 100%;
}

#page_index .main-outer .photo {
    @include width(100%, 35%, 50%);
    float: right;

    @include sp_only {
        float: none;
    }

}

#page_index .main-outer .photo img {
    width: 318px;
    position: absolute;
    bottom: 0;
    right: 48px;

    @include tab_only {
        right: 40px;
    }

    @include sp_only {
        position: relative;
        width: 220px;
        margin: 0 auto;
        display: block;
        right: 0;
        bottom: 0;
        margin-top: -18px;
    }
}

#page_index .main-text {
    @include width(100%, 65%, 50%);
    padding-top: 120px;
    padding-bottom: 120px;
    float: left;

    @include sp_only {
        float: none;
        padding: 4% 0;
        margin: 0 auto;
    }
}

#page_index .main-text ul {
    width: 100%;
    padding-top: 15px;
}

#page_index .main-text ul li {
    width: auto;
    display: inline-block;
    float: left;
    font-family: $font-mincho;
    font-weight: bold;
    color: #fff;
    text-align: center;
    padding: 3px 38px 2px;
    background: $keycolor4;
    @include size(15, 18);

    @include sp_only {
        padding: 3px 4% 2px;
    }
}

#page_index .main-text ul li:nth-child(1) {
    margin-right: 1%;
}

#page_index .main-text ul li:nth-child(3) {
    margin-left: 1%;
}

@include tab_only {
    #page_index .main-text ul li:nth-child(1) {
        width: 22%;
    }

    #page_index .main-text ul li:nth-child(2) {
        width: 22%;
    }

    #page_index .main-text ul li:nth-child(3) {
        width: 54%;
    }

}

@include sp_only {
    #page_index .main-text ul li:nth-child(1) {
        width: 22%;
    }

    #page_index .main-text ul li:nth-child(2) {
        width: 22%;
    }

    #page_index .main-text ul li:nth-child(3) {
        width: 52%;
    }

}

@media screen and (max-width:690px) {
    #page_index .main-text ul li:nth-child(1) {
        width: 48.5%;
        margin-left: 0;
    }

    #page_index .main-text ul li:nth-child(2) {
        width: 48.5%;
        margin-left: 2%;
        margin-right: 0;
    }

    #page_index .main-text ul li:nth-child(3) {
        width: 100%;
        margin-top: 2%;
        margin-left: 0;
    }

}


#page_index .head-title {
    @include padding-left(0, 0, 50px);
    text-align: center;
    font-family: $font-mincho;
    @include size(18, 22, 28);
    font-weight: bold;
    color: $keycolor1;
    position: relative;
}

@media screen and (max-width:400px) {
    #page_index .head-title:before {
        @include sp_only {
            content: none;
        }
    }

    #page_index .head-title:after {
        @include sp_only {
            content: none;
        }
    }
}

#page_index .news-outer {
    @include width(100%, 100%, 100%);

    @include sp_only {
        position: relative;
        margin-top: 0;
        width: 100%;
        padding-bottom: 4%;
    }

    @include tab() {
        display: table;
    }
}

#page_index .news-title {
    width: 12%;
    padding: 7px 20px 9px;
    text-align: center;
    background: $keycolor1;
    color: #fff;

    @include sp_only {
        display: block;
        width: 100%;
        padding: 4px 4% 6px;
        font-size: 13px;
    }

    @include tab() {
        display: table-cell;
        vertical-align: middle;
    }
}

#page_index .news-list {
    width: 88%;
    background: rgba(255, 255, 255, 0.9);
    padding: 10px 20px 10px 20px;
    @include size(13, 14);

    @include sp_only {
        display: block;
        width: 100%;
        padding: 2% 4%;
    }

    @include tab() {
        display: table-cell;
    }
}

#page_index .news-list dl {
    border-bottom: 1px solid #999;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

#page_index .news-list dl:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

#page_index .news-list dt {
    width: 13%;
    float: left;

    @include tab_only {
        width: 17%;
    }

    @include sp_only {
        width: 100%;
    }
}

#page_index .news-list dd {
    width: 87%;
    float: left;

    @include tab_only {
        width: 83%;
    }

    @include sp_only {
        width: 100%;
    }
}

#page_index .news-list dd a {
    display: block;
}

#page_index .news-list dd a:hover {
    color: $keycolor2;
}

/*
#page_index section.about {
    background:url(../images/index_about.jpg) no-repeat bottom center;
    background-size:cover;
}
*/
#page_index section.about p {
    @include text-align(left, center, center);
    line-height: 1.9;
}

#page_index section.about .linkbtn1 {
    margin: 0 auto;
    text-align: center;
    display: block;

    @include sp_only {
        width: 70%;
    }
}

@media screen and (max-width:430px) {
    #page_index section.about .linkbtn1 {
        width: 100%;
    }
}

#page_index section.news .news-header .list a {
    color: #fff;
    border: 1px solid #4d4d4d;
    background: #fff;
    float: right;
    /* margin-right: 7px; */
    position: relative;
    bottom: -1px;
    font-size: 13px;
    font-size: 1.3rem;
    padding: 0px 17px 1px;
    background: #4d4d4d;
    margin-top: 19px;
}

/*
#page_index section.profile .top-img {
    position: relative;
}
#page_index section.profile .top-img:before {
    position: absolute;
    content: "";
    top:0;
    left:0;
    display: inline-block;
    width: 281px;
    height: 130px;
    background-image: url(../images/profile_lt.png);
    background-size: contain;
    vertical-align: middle;
    z-index: 1;
    @include tab_only {
        width: 186px;
        height: 86px;

    }
    @include sp_only {
        width: 93px;
        height: 43px;

    }

}
#page_index section.profile .top-img:after {
    position: absolute;
    content: "";
    top:0;
    right:0;
    display: inline-block;
    width: 260px;
    height: 111px;
    background-image: url(../images/profile_rt.png);
    background-size: contain;
    vertical-align: middle;
    z-index: 1;

    @include tab_only {
        width: 173px;
        height: 74px;

    }
    @include sp_only {
        width: 86px;
        height: 37px;

    }

}

#page_index section.profile .bottom-img {
    position: relative;
}
#page_index section.profile .bottom-img:before {
    position: absolute;
    content: "";
    bottom:0;
    left:0;
    display: inline-block;
    width: 370px;
    height: 220px;
    background-image: url(../images/profile_lb.png);
    background-size: contain;
    vertical-align: middle;
    z-index: 1;

    @include tab_only {
        width: 246px;
        height: 146px;

    }
    @include sp_only {
        width: 123px;
        height: 73px;

    }
}
/*
#page_index section.profile .bottom-img:after {
    position: absolute;
    content: "";
    bottom:0;
    right:0;
    display: inline-block;
    width: 592px;
    height: 154px;
    background-image: url(../images/profile_rb.png);
    background-size: contain;
    vertical-align: middle;
    z-index: 1;
    @include tab_only {
        width: 394px;
        height: 102px;

    }
    @include sp_only {
        width: 197px;
        height: 51px;

    }
}
*/
#page_index section.profile .outer {
    width: 100%;
}

#page_index section.profile .outer .photo {
    @include width(100%, 40%);
    float: left;
    position: relative;
    z-index: 99;

    @include sp_only {
        padding-top: 4%;
    }
}

#page_index section.profile .outer .text {
    @include width(100%, 70%);
    margin: 0 auto;
    z-index: 99;
    position: relative;

    @include sp_only {
        padding-left: 0;
        padding-bottom: 4%;
    }
}

#page_index section.profile .outer .photo img {
    text-align: right;
    margin-left: auto;
    display: block;
    padding-right: 40px;
    padding-top: 40px;

    @include tab_only {
        padding-top: 60px;
    }

    @include sp_only {
        padding-right: 0;
        margin: 0 auto;
        width: 160px;
    }
}

#page_index section.profile .outer .text {
    margin: 0 auto;
    text-align: center;
}

#page_index section.profile .outer .text h4 {
    @include size(18, 28, 28);
    line-height: 1.2;
    letter-spacing: 1px;
    padding: 50px 0 20px;

    @include sp_only {
        padding: 4% 0 2%;
    }
}

#page_index section.profile .outer .text h4 .romaji {
    letter-spacing: 1.5px;
    font-family: $font_gothic;
    @include fsize_xs;
    display: block;
    margin-top: 3px;
    color: #4d4d4d;
    font-weight: normal;
}


#page_index section.profile .outer .text .linkbtn1 {
    width: 65%;
    text-align: center;
    margin: 0 auto 6%;

    @include sp_only {
        width: 100%;
        margin-bottom: 2%;
    }
}

#page_index .contents_bottom {
    position: relative;
}

/*
#page_index .contents_bottom:before {
    content: "";
    position: absolute;
    left:0;
    top:0;
    bottom:0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 400px 500px 0 0;
    border-color: #e6e6e6 transparent transparent transparent;
    z-index: 1;

    @include tab_only {
        border-width: 250px 350px 0 0;

    }
    @include sp_only {
        border-width: 125px 175px 0 0;
    }

}
*/
#page_index .contents_bottom .seminar {
    position: relative;
    z-index: 99;
}

#page_index .contents_bottom ul {
    width: 100%;
    padding-bottom: 40px;
    border-bottom: 1px solid #cccccc;

}

#page_index .contents_bottom .talk ul {
    border-bottom: none;
    padding-bottom: 90px;

    @include sp_only {
        padding-bottom: 8%;
    }
}

#page_index .contents_bottom ul li {
    width: 100%;
    background: #fff;
    margin-bottom: 10px;
}

#page_index .contents_bottom ul li dl {
    width: 100%;
    padding: 15px;

}


#page_index .contents_bottom ul li dl dt {
    width: 6em;
    float: left;
    display: block;
    padding: 0px 15px 0 0;
    border-right: 1px solid #cccccc;

    @include sp_only {
        display: block;
        padding-right: 0;
        border-right: none;
        width: 100%;
        font-weight: bold;
    }

}

#page_index .contents_bottom ul li dl dd {
    padding: 3px 0 0px 15px;
    overflow: hidden;

    @include sp_only {
        display: block;
        width: 100%;
        padding-left: 0;
    }
}

#page_index .contents_bottom ul li dl dd .date {
    display: block;
    color: #1A2D49;
    @include size(12, 14);
    font-weight: bold;
    letter-spacing: 0px;
    margin-bottom: 5px;
}

#page_index .contents_bottom ul li dl dd .title {
    margin-bottom: 7px;
}

#page_index .contents_bottom ul li dl dd .title a {
    font-weight: bold;
}

#page_index .contents_bottom ul li dl dd .title a:hover {
    text-decoration: underline;
}

#page_index .contents_bottom ul li dl dd .excerpt p {
    @include size(12, 14);
    color: #666;
    display: inline;
}

#page_index .contents_bottom ul li dl dd .excerpt a {
    text-decoration: underline;
    @include size(12, 14);
    color: #1A2D49;
}

#page_index .contents_bottom ul li dl dd .linkbtn {
    text-align: right;
    padding-top: 15px;
}

#page_index .contents_bottom ul li dl dd .linkbtn {
    color: #4d4d4d;
    position: relative;
    @include size(13);
    text-decoration: underline;
    margin-right: 20px;
}

#page_index .contents_bottom ul li dl dd .linkbtn:after {
    content: "＞";
    position: absolute;
    @include size(12);
    top: 16px;
    right: -17px;

}

#page_index .contents_bottom ul li dl dd p {
    line-height: 1.4;
}

/********************************************************************************
　--about
*********************************************************************************/

#page_about section.profile .top-img {
    position: relative;
}

/*
#page_about section.profile .top-img:before {
    content: "";
    position: absolute;
    z-index: 0;
    left:0;
    right:0;
    margin: auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 130px 185px 0 185px;
    border-color: #E0F7FC transparent transparent transparent;
    @include sp_only {
        border-width: 85px 110px 0 110px;
    }
}


#page_about section.profile .bottom-img {
    position: relative;
}
#page_about section.profile .bottom-img:before {
    position: absolute;
    content: "";
    bottom:0;
    left:0;
    display: inline-block;
    width: 370px;
    height: 220px;
    background-image: url(../images/profile_lb.png);
    background-size: contain;
    vertical-align: middle;
    z-index: 1;

    @include tab_only {
        width: 246px;
        height: 146px;

    }
    @include sp_only {
        width: 123px;
        height: 73px;

    }
}
#page_about section.profile .bottom-img:after {
    position: absolute;
    content: "";
    bottom:0;
    right:0;
    display: inline-block;
    width: 592px;
    height: 154px;
    background-image: url(../images/profile_rb.png);
    background-size: contain;
    vertical-align: middle;
    z-index: 1;
    @include tab_only {
        width: 394px;
        height: 102px;

    }
    @include sp_only {
        width: 197px;
        height: 51px;

    }
}*/

#page_about section.profile .outer {
    width: 100%;
}

#page_about section.profile .outer .photo {
    @include width(100%, 40%);
    float: left;
    position: relative;
    z-index: 99;

    @include sp_only {
        padding-top: 4%;
    }
}

#page_about section.profile .outer .text {
    @include width(100%, 70%, 60%);
    @include padding-top(8%, 60px);
    margin: 0 auto;
    z-index: 99;
    position: relative;

    @include sp_only {
        padding-left: 0;
        padding-bottom: 8%;
    }
}

#page_about section.profile .outer .photo img {
    text-align: right;
    margin-left: auto;
    display: block;

    @include sp_only {
        margin: 0 auto;
        width: 160px;
    }
}

#page_about section.profile .outer .text .comp {
    @include size(18, 28, 28);
    line-height: 1.2;
    letter-spacing: 1px;

    @include sp_only {
        padding: 4% 0 2%;
        text-align: center;
    }
}

#page_about section.profile .outer .text .comp .romaji {
    letter-spacing: 1.5px;
    font-family: $font_gothic;
    @include fsize_xs;
    margin-top: 3px;
    color: #4d4d4d;
    font-weight: normal;
    @include padding-left(2%, 20px);

    @include sp_only {
        display: block;
        text-align: center;
    }
}

#page_about section.profile .outer .text .job {
    @include size(13, 16, 16);
    color: #1A2D49;
    line-height: 1.6;
    @include padding(4% 0 0%, 30px 0 0px);

    @include sp_only {
        text-align: center;

    }
}

#page_about section.profile .outer .text .name {
    @include size(18, 28, 28);
    line-height: 1.2;
    padding-bottom: 60px;
    letter-spacing: 1px;

    @include sp_only {
        padding-bottom: 6%;
        padding: 0% 0 2%;
        text-align: center;
    }
}

#page_about section.profile .outer .text .name .romaji {
    letter-spacing: 1.5px;
    font-family: $font_gothic;
    @include fsize_xs;
    margin-top: 3px;

    font-weight: normal;
    @include padding-left(2%, 20px);

    @include sp_only {
        display: block;
        text-align: center;
    }
}

#page_about section.about ul.list li {
    @include size(14, 16);
    letter-spacing: 1px;
    padding-left: 1em;
    text-indent: -1em;
}


#page_about table {
    width: 100%;
}

#page_about table th {
    @include width(100%, 22%, 15%);
    text-align: left;
    @include size(14, 16);
    @include padding(1% 0% 0, 3px 0px 1px);

    @include sp_only {
        font-weight: bold;
        display: block;
    }
}

#page_about table td {
    text-align: left;
    @include size(14, 16);
    @include padding(0% 0% 1%, 3px 5px 1px);

    @include sp_only {
        width: 100%;
        display: block;
    }

}

/********************************************************************************
　--information
*********************************************************************************/
#page_information .contents_outer {
    position: relative;
}

/*
#page_information .contents_outer:before {
    content: "";
    position: absolute;
    left:0;
    top:0;
    bottom:0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 400px 500px 0 0;
    border-color: #e6e6e6 transparent transparent transparent;
    z-index: 1;

    @include tab_only {
        border-width: 250px 350px 0 0;

    }
    @include sp_only {
        border-width: 125px 175px 0 0;
    }

}
*/
#page_information .contents_outer .seminar {
    position: relative;
    z-index: 99;
}

#page_information .contents_outer ul {
    width: 100%;
    padding-bottom: 40px;
    border-bottom: 1px solid #cccccc;

}

#page_information .contents_outer .talk ul {
    border-bottom: none;
    padding-bottom: 90px;

    @include sp_only {
        padding-bottom: 8%;
    }
}


#page_information .contents_outer ul li {
    width: 100%;
    background: #fff;
    margin-bottom: 10px;
}

#page_information .contents_outer ul li dl {
    width: 100%;
    padding: 15px;
}


#page_information .contents_outer ul li dl dt {
    width: 6em;
    float: left;
    display: block;
    padding: 0px 15px 0 0;
    border-right: 1px solid #cccccc;

    @include sp_only {
        display: block;
        border-right: none;
        width: 100%;
        font-weight: bold;
    }

}

#page_information .contents_outer ul li dl dd {
    padding: 3px 0 0px 15px;
    overflow: hidden;

    @include sp_only {
        display: block;
        width: 100%;
        padding-left: 0;
    }
}



#page_information .contents_outer ul li dl dd .date {
    display: block;
    color: #337cc4;
    @include size(12, 14);
    font-weight: bold;
    letter-spacing: 0px;
    margin-bottom: 5px;
}

#page_information .contents_outer ul li dl dd .title {
    margin-bottom: 7px;
}

#page_information .contents_outer ul li dl dd .title a {
    font-weight: bold;
}

#page_information .contents_outer ul li dl dd .title a:hover {
    text-decoration: underline;
}

#page_information .contents_outer ul li dl dd .excerpt p {
    @include size(12, 14);
    color: #666;
    display: inline;
}

#page_information .contents_outer ul li dl dd .excerpt a {
    text-decoration: underline;
    @include size(12, 14);
    color: #1A2D49;
}

#page_information .contents_outer ul li dl dd .linkbtn {
    text-align: right;
    padding-top: 15px;
}

#page_information .contents_outer ul li dl dd .linkbtn {
    color: #4d4d4d;
    position: relative;
    @include size(13);
    text-decoration: underline;
    margin-right: 20px;
}

#page_information .contents_outer ul li dl dd .linkbtn:after {
    content: "＞";
    position: absolute;
    @include size(12);
    top: 16px;
    right: -17px;

}

#page_information .contents_outer ul li dl dd p {
    line-height: 1.4;
}




/********************************************************************************
　--contact
*********************************************************************************/

#page_contact section.tel .red {
    color: #c40500;
}

#page_contact section.tel dl {
    width: 100%;
    @include margin(4% 0 8%, 20px 0 40px);
}

#page_contact section.tel dl dt {
    @include width(100%, 32%, 30%);
    float: left;
    background: #c40500;
    color: #fff;
    text-align: center;
    border: 2px solid #c40500;
    @include padding(2% 4%, 20px);
}

#page_contact section.tel dl dd {
    @include width(100%, 68%, 70%);
    float: left;
    color: #c40500;
    border: 2px solid #c40500;
    @include padding(2% 4%, 13px 40px);
    @include text-align(center, left, left);

}

#page_contact section.tel dl dd #tel {
    @include fsize_xl;
    letter-spacing: 1px;
    padding-right: 20px;

    @include sp_only {
        width: 100%;
        display: block;
        padding-left: 0px;
    }

}

#page_contact section.tel dl dd #time {
    padding-left: 10px;

    @include sp_only {
        width: 100%;
        display: block;
        padding-left: 0px;
    }
}

#page_contact .button-contact {
    @include sp_only {
        font-size: 11px;
        font-size: 1.1rem;
    }
}

#page_contact .area_type {
    @include sp_only {
        font-size: 11px;
        font-size: 1.1rem;
    }
}

#page_contact .button-contact input[type="radio"] {
    display: none;
}

#page_contact .button-contact label {
    display: inline-block;
    color: #fff;
    background-color: #666666;
    padding: 5px 10px;
}

#page_contact .button-contact label {
    width: 33.333%;
    float: left;
    text-align: center;
    @include padding(2% 4%, 15px 20px);
}

#page_contact .button-contact .btn1 {
    border-right: 1px solid #fff;
}

#page_contact .button-contact .btn2 {
    border-right: 1px solid #fff;
}

#page_contact .button-contact label {
    cursor: pointer;
}

#page_contact .button-contact label:hover {
    background: #32b2af;
}

#page_contact .button-contact input[type="radio"]:checked + label {
    background-color: #1e9e9e;
}

#page_contact .button-area input[type="radio"] {
    display: none;
}

#page_contact .button-area label {
    width: 98%;
    margin: 0 auto;
    text-align: center;

    display: block;
    color: #000;
    background-color: #fff;
    @include padding(4%, 15px 20px);
    border-bottom: 2px solid #f2f2f2;

}

#page_contact .button-area input[type="radio"]:checked + label {
    background-color: #c7e2e0;
}

#page_contact .button-area.hover label:hover {
    background-color: #dfefed;
    cursor: pointer;
}

#page_contact section.form h3 {
    @include mb_l;
}

#page_contact section.form form table {
    width: 100%;
}

#page_contact section.form form table th {
    font-size: 15px;
    font-size: 1.5rem;
    text-align: left;
    position: relative;
    vertical-align: middle;
    padding: 16px 80px 16px 20px;
    line-height: 1;
    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    white-space: nowrap;
    background: #E6F1F4;
    width: 240px;
    box-sizing: border-box;

    @include sp_only {
        width: 100%;
        display: block;
        font-size: 13px;
        font-size: 1.3rem;
        text-align: left;
        vertical-align: middle;
        padding: 2% 2% 2%;
        line-height: 1;
        border-bottom: 1px solid #CCCCCC;
        border-right: 1px solid #CCCCCC;
        border-left: 1px solid #CCCCCC;
        white-space: nowrap;
        background: #E6F1F4;
    }
}

#page_contact section.form form table {
    border-top: 1px solid #CCCCCC !important;
}

#page_contact em {
    color: #ED1C24;
    @include fsize_xs;
}

#page_contact .privacy-em {
    position: absolute;
    background: #DC452F;
    color: #fff;
    font-size: 10px;
    font-size: 1.0rem;
    display: inline-block;
    padding: 3px 10px 3px;
    margin-top: 3px;
    margin-left: 14px;

    @include sp_only {
        position: relative;
        margin-left: 4%;
        padding: 3px 5px 3px;
    }
}

#page_contact section.form form table td {
    border-right: 1px solid #CCCCCC;
    padding: 10px 20px 10px;
    font-size: 15px;
    font-size: 1.5rem;
    background: #fff;
    border-bottom: 1px solid #CCCCCC;

    @include sp_only {
        background: none;
        border-right: none;
        padding: 2% 0%;
        display: block;
        width: 100%;
        font-size: 13px;
        font-size: 1.3rem;
        border-bottom: 1px solid #CCCCCC;
    }

}

#page_contact section.form form table td .zipmsg {
    margin-bottom: 0px;
}


#page_contact section.form form table td input[type=text] {
    padding: 3px 8px;
}

#page_contact section.form form table td input[type=radio] {
    padding-right: 10px;
    display: inline-block;
}

#page_contact section.form form table td label {
    margin-bottom: 10px;
    margin-top: 5px;
    display: block;
}

#page_contact section.form form table td textarea {
    padding: 10px;
}

#page_contact section.form form .submit {
    text-align: center;
    padding: 30px 0 50px;

    @include sp_only {
        padding: 4% 0 8%;
    }
}

#page_contact section.form .msg {
    margin: 20px 0 30px;

}

#page_contact form .submit input {
    position: relative;
    background: $keycolor1;
    border: 1px solid $keycolor1;
    color: #fff;
    font-size: 15px;
    font-size: 1.5rem;
    text-decoration: none;
    margin: 0 auto;
    padding: 16px 94px 16px 97px;
    line-height: 1;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    cursor: pointer;

    @include sp_only {
        width: 100%;
        padding: 16px 4%;
        margin-bottom: 2% !important;
    }
}

#page_contact form .submit .button_wrap {
    position: relative;
    display: inline-block;

    @include sp_only {
        width: 100%;
    }
}

#page_contact form .submit .button_wrap:after {
    content: "";
    top: 53%;
    position: absolute;
    right: 12px;
    display: block;
    content: "";
    width: 6px;
    height: 6px;
    margin-top: -3px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);

    @include sp_only {
        top: 46%;
    }

}

#page_contact section.form form table tr:last-of-type td {
    @include sp_only {
        border-bottom: none;
    }
}

#page_contact form .submit input:hover {
    background: #fff;
    color: $keycolor1;
    border: 1px solid $keycolor1;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#page_contact section.form form table td #zip1 {
    @include sp_only {
        font-size: 13px;
        font-size: 1.3rem;
        width: 35% !important;
        display: inline !important;
        margin-left: 1% !important;
    }
}

#page_contact section.form form table td #zip2 {
    @include sp_only {
        font-size: 13px;
        font-size: 1.3rem;
        width: 45% !important;
        display: inline !important;
        margin-left: 1% !important;
    }
}

section.form .privacy {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 6%;

    @include sp_only {
        text-align: center;
    }
}

#page_contact .kome {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 0%;
}

#page_contact section.form .privacy a {
    color: #000;
}

#page_contact section.form .privacy label {
    border: 1px solid #ccc;
    display: inline-block;
    //    padding: 5px 15px;
    padding: 5px 70px 5px 20px;
    margin-top: 20px;
    cursor: pointer;
}

#page_contact section.form .privacy label.disable {
    filter: alpha(opacity=30);
    -moz-opacity: 0.3;
    opacity: 0.3;
}

#page_contact section.form .privacy label input {
    position: relative;
    top: 2px;
}

#page_contact section.form form table td input[type=text] {
    padding: 5px 8px;
}

#page_contact section.form form table {
    border-top: 1px solid #ddd;
}

.privacy_area {
    height: 200px;
    margin-bottom: 0px;
    overflow: scroll;
    background: #f6f6f6;
    padding: 20px;
    border: 1px solid #ddd;

}

.privacy_area h3 {
    font-weight: bold;
    @include size(13, 17);
    margin-bottom: 15px;
}

.privacy_area h4 {
    font-weight: bold;
    @include size(13, 14);
    margin-bottom: 0px;

}

.privacy_area h5 {
    font-weight: bold;
    font-size: 14px !important;
    font-size: 1.4rem !important;
    margin-bottom: 0px;

}

.privacy_area p {
    font-size: 13px !important;
    font-size: 1.3rem !important;
    margin-bottom: 1em !important;

}

#page_contact .mw_wp_form_confirm .privacy_area {
    display: none;
}

#page_contact .mw_wp_form_confirm .kome {
    display: none;
}

#page_contact .mw_wp_form_confirm #estimatelink {
    display: none;
}

#page_contact .mw_wp_form_confirm p {
    margin-bottom: 0px;
}

#page_contact .mw_wp_form_confirm .zipmsg {
    display: none;
}




.mw_wp_form_input table tr.hidden {
    display: none;
}


.mw_wp_form_confirm section.select {}

.mw_wp_form_confirm em {
    display: none;
}

.mw_wp_form_confirm table tr.confirm_hidden {
    display: none;
}







/********************************************************************************
　--news
*********************************************************************************/

#page_single .entry-title {
    @include fsize_l();
    text-align: left;
    font-weight: bold;
    line-height: 1.6;

}

#page_single time {
    color: #999;
    @include fsize_xs();
}

#page_single .entry-header {
    font-size: 12px;
    //    @include margin-bottom(2%,16px);
    overflow: hidden;
    @include padding-bottom(2%, 16px);
}

#page_single .entry-date {
    color: #1A2D49;
}

#page_single ul.page_link {
    padding-top: 30px;
    margin-bottom: 30px;
}

#page_single ul.page_link li a {
    font-size: 13px;
    display: inline-block;
    padding: 6px 15px 3px;
    border-radius: 3px;
    border: solid 1px #c0c0c0;
    background: #fefefe;
    text-decoration: none;
    color: #717171;
}

#page_single ul.page_link li.next {
    float: right;
}

#page_single ul.page_link li.prev {
    float: left;
}


#page_single .entry-content p {
    @include margin-bottom(4%, 25px);
}

#page_single .entry-content h3 {
    margin-bottom: 1em;
    @include size(16, 18);
    border-left: 3px solid #1A2D49;
    color: #1A2D49;
    line-height: 1.2;
    padding-left: 10px;
    @include margin-bottom(4%, 25px);
}

#page_single .entry-content h4 {
    font-weight: bold;
    @include size(16, 18);
    color: #1A2D49;
    @include margin-bottom(4%, 25px);
}

#page_single .talk .entry-content {
    margin-top: -28px;
}

#page_single .entry-content a {
    color: #1A2D49;
    text-decoration: underline;
}

#page_single .entry-content img {
    @include tab_only {
        margin: 0 auto;
        display: block;
        text-align: center;
    }

    @include sp_only {
        margin: 0 auto;
        display: block;
        text-align: center;
    }
}

.entry-content .outer {
    width: 100%;
}

.entry-content .outer .photo {
    width: 40%;
    float: left;

    @include sp_only {
        width: 100%;
    }
}

.entry-content .outer .photo img {
    width: 100%;
    height: auto;
}

.entry-content .outer .text {
    width: 60%;
    float: left;
    padding-left: 4%;

    @include sp_only {
        padding-left: 0%;
        width: 100%;
        padding-top: 4%;
    }
}

#page_single .news .news_entry {
    min-height: 510px;
}

#page_single .news_entry .linkbtn2 {
    text-align: center;

}





#page_single .news_entry .talk-outer {
    width: 100%;
    background: #F2F2F2;
}

#page_single .news_entry .talk-outer .photo {
    width: 40%;
    float: left;

    @include sp_only {
        width: 100%;
    }
}

#page_single .news_entry .talk-outer .photo img {
    width: 100%;
    height: auto;
}

#page_single .news_entry .talk-outer .text {
    width: 60%;
    float: left;
    padding-left: 4%;

    @include sp_only {
        padding-left: 0%;
        width: 100%;
        padding-top: 4%;
    }
}

#page_single .news_entry .talk-outer:nth-child(1) {
    padding-top: 0;
}

#page_single .news_entry .talk-outer dl {
    width: 100%;
    padding-bottom: 5px;
}

#page_single .news_entry .talk-outer dl:last-of-type {
    padding-bottom: 0;
}

#page_single .news_entry .talk-outer dl dt {
    line-height: 2;
    width: 4em;
    float: left;

    @include sp_only {
        width: 3em;
    }
}

#page_single .news_entry .talk-outer dl dd {
    letter-spacing: 1px;
    color: #333;
    line-height: 2;
    width: 88%;
    float: left;
    @include size(13, 16);

    @include sp_only {
        padding-top: 2px;
    }
}

#page_single .news_entry .talk-outer dl dt:after {
    content: "";
    font-size: 15px;
    padding-left: 4px;
    top: -1px;
    position: relative;
}

@media screen and (max-width:420px) {
    #page_single .news_entry .talk-outer dl dt {
        width: 4em;
    }

    #page_single .news_entry .talk-outer dl dd {
        width: 80%;
    }

}

@media screen and (max-width:340px) {
    #page_single .news_entry .talk-outer dl dt {
        width: 4em;
    }

    #page_single .news_entry .talk-outer dl dd {
        width: 75%;
    }

}

#page_single .news_entry .full_text dl dt {
    width: 4em;

    @include sp_only {
        width: 3em;
    }
}

#page_single .news_entry .full_text dl dd {
    width: 93%;

    @include sp_only {
        width: 88%;
    }
}

@media screen and (max-width:420px) {
    #page_single .news_entry .full_text dl dt {
        width: 100%;
    }

    #page_single .news_entry .full_text dl dd {
        width: 100%;
    }
}

.entry-content .profile-outer {
    width: 100%;
}

.entry-content .profile-outer .profile-photo {
    width: 20%;
    float: left;

    @include sp_only {
        width: 100%;
    }
}

.entry-content .profile-outer .profile-photo img {
    width: 100%;
    height: auto;
}

.entry-content .profile-outer .profile-text {
    width: 80%;
    float: left;
    padding-left: 4%;

    @include sp_only {
        padding-left: 0%;
        width: 100%;
        padding-top: 4%;
    }
}

/********************************************************************************
　--news
*********************************************************************************/
.news .cat {
    background: #222;
    color: #fff;
    display: inline-block;
    font-size: 10px;
    margin-right: 10px;
    padding: 4px 10px;
    text-decoration: none;
    vertical-align: middle;
}

.news .date {
    color: #999;
    display: inline-block;
    font-size: 12px;
}

.news .text {
    margin-bottom: 24px;
}

.news ul {
    padding-bottom: 40px;
}

.news .text a:hover {
    text-decoration: underline;
}

section.coming-soon {
    margin-top: 64px;
    width: 100%;
    height: 900px;
    text-align: center;
    background: url(../images/coming_soon.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

section.coming-soon .bg {
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    width: 100%;
    height: 100%;
}

section.coming-soon h2 {
    font-family: $font_archivo;
    @include size(18, 54);
    @include padding-top(35%, 350px);
    margin-top: 0;
    color: #fff;

}

section.coming-soon a {
    color: #fff;
}
