@charset "UTF-8";
/********************************************************************************
　--index
*********************************************************************************/
#page_index #mainimage {
  background-color: #9cb9db;
  margin-top: 51px;
  position: relative; }
  @media screen and (min-width: 768px) {
    #page_index #mainimage {
      margin-top: 51px; } }
  @media screen and (min-width: 1040px) {
    #page_index #mainimage {
      margin-top: 77px; } }
  @media (max-width: 767px) {
    #page_index #mainimage {
      background-color: #9cb9db; } }

@media screen and (max-width: 1049px) {
  #page_index #mainimage {
    margin-top: 51px; } }
#page_index #mainimage .wrapper {
  width: 1000px;
  position: relative;
  padding-bottom: 4%; }
  @media screen and (min-width: 768px) {
    #page_index #mainimage .wrapper {
      padding-bottom: 51px; } }
  @media screen and (min-width: 1040px) {
    #page_index #mainimage .wrapper {
      padding-bottom: 77px; } }
  @media screen and (max-width: 1000px) {
    #page_index #mainimage .wrapper {
      width: 100%; } }

/*
#page_index #mainimage:before {
    content: "";
    position: absolute;
    left:0;
    bottom:0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 185px 0 0 160px;
    border-color: transparent transparent transparent $keycolor3;
    @include tab_only {
        border-width: 123px 0 0 106px;
    }
    @include sp_only {
        border-width: 61px 0 0 53px;
    }
}
#page_index #mainimage:after {
    content: "";
    position: absolute;
    right:0;
    bottom:0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 380px 280px;
    border-color: transparent transparent $keycolor3 transparent;
    @include tab_only {
        border-width: 0 0 253px 186px;
    }
    @include sp_only {
        border-width: 0 0 126px 93px;
    }

}
*/
#page_index .main-outer {
  width: 100%; }

#page_index .main-outer .photo {
  width: 100%;
  float: right; }
  @media screen and (min-width: 768px) {
    #page_index .main-outer .photo {
      width: 35%; } }
  @media screen and (min-width: 1040px) {
    #page_index .main-outer .photo {
      width: 50%; } }
  @media (max-width: 767px) {
    #page_index .main-outer .photo {
      float: none; } }

#page_index .main-outer .photo img {
  width: 318px;
  position: absolute;
  bottom: 0;
  right: 48px; }
  @media (min-width: 768px) and (max-width: 1040px) {
    #page_index .main-outer .photo img {
      right: 40px; } }
  @media (max-width: 767px) {
    #page_index .main-outer .photo img {
      position: relative;
      width: 220px;
      margin: 0 auto;
      display: block;
      right: 0;
      bottom: 0;
      margin-top: -18px; } }

#page_index .main-text {
  width: 100%;
  padding-top: 120px;
  padding-bottom: 120px;
  float: left; }
  @media screen and (min-width: 768px) {
    #page_index .main-text {
      width: 65%; } }
  @media screen and (min-width: 1040px) {
    #page_index .main-text {
      width: 50%; } }
  @media (max-width: 767px) {
    #page_index .main-text {
      float: none;
      padding: 4% 0;
      margin: 0 auto; } }

#page_index .main-text ul {
  width: 100%;
  padding-top: 15px; }

#page_index .main-text ul li {
  width: auto;
  display: inline-block;
  float: left;
  font-family: "ＭＳ Ｐゴシック", "Hannari", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-weight: bold;
  color: #fff;
  text-align: center;
  padding: 3px 38px 2px;
  background: #1A2D49;
  font-size: 15px;
  font-size: 1.5rem; }
  @media screen and (min-width: 768px) {
    #page_index .main-text ul li {
      font-size: 18px;
      font-size: 1.8rem; } }
  @media (max-width: 767px) {
    #page_index .main-text ul li {
      padding: 3px 4% 2px; } }

#page_index .main-text ul li:nth-child(1) {
  margin-right: 1%; }

#page_index .main-text ul li:nth-child(3) {
  margin-left: 1%; }

@media (min-width: 768px) and (max-width: 1040px) {
  #page_index .main-text ul li:nth-child(1) {
    width: 22%; }

  #page_index .main-text ul li:nth-child(2) {
    width: 22%; }

  #page_index .main-text ul li:nth-child(3) {
    width: 54%; } }
@media (max-width: 767px) {
  #page_index .main-text ul li:nth-child(1) {
    width: 22%; }

  #page_index .main-text ul li:nth-child(2) {
    width: 22%; }

  #page_index .main-text ul li:nth-child(3) {
    width: 52%; } }
@media screen and (max-width: 690px) {
  #page_index .main-text ul li:nth-child(1) {
    width: 48.5%;
    margin-left: 0; }

  #page_index .main-text ul li:nth-child(2) {
    width: 48.5%;
    margin-left: 2%;
    margin-right: 0; }

  #page_index .main-text ul li:nth-child(3) {
    width: 100%;
    margin-top: 2%;
    margin-left: 0; } }
#page_index .head-title {
  padding-left: 0;
  text-align: center;
  font-family: "ＭＳ Ｐゴシック", "Hannari", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: bold;
  color: #1A2D49;
  position: relative; }
  @media screen and (min-width: 768px) {
    #page_index .head-title {
      padding-left: 0; } }
  @media screen and (min-width: 1040px) {
    #page_index .head-title {
      padding-left: 50px; } }
  @media screen and (min-width: 768px) {
    #page_index .head-title {
      font-size: 22px;
      font-size: 2.2rem; } }
  @media screen and (min-width: 1040px) {
    #page_index .head-title {
      font-size: 28px;
      font-size: 2.8rem; } }

@media screen and (max-width: 400px) and (max-width: 767px) {
  #page_index .head-title:before {
    content: none; } }

@media screen and (max-width: 400px) and (max-width: 767px) {
  #page_index .head-title:after {
    content: none; } }

#page_index .news-outer {
  width: 100%; }
  @media screen and (min-width: 768px) {
    #page_index .news-outer {
      width: 100%; } }
  @media screen and (min-width: 1040px) {
    #page_index .news-outer {
      width: 100%; } }
  @media (max-width: 767px) {
    #page_index .news-outer {
      position: relative;
      margin-top: 0;
      width: 100%;
      padding-bottom: 4%; } }
  @media print, screen and (min-width: 768px) {
    #page_index .news-outer {
      display: table; } }

#page_index .news-title {
  width: 12%;
  padding: 7px 20px 9px;
  text-align: center;
  background: #1A2D49;
  color: #fff; }
  @media (max-width: 767px) {
    #page_index .news-title {
      display: block;
      width: 100%;
      padding: 4px 4% 6px;
      font-size: 13px; } }
  @media print, screen and (min-width: 768px) {
    #page_index .news-title {
      display: table-cell;
      vertical-align: middle; } }

#page_index .news-list {
  width: 88%;
  background: rgba(255, 255, 255, 0.9);
  padding: 10px 20px 10px 20px;
  font-size: 13px;
  font-size: 1.3rem; }
  @media screen and (min-width: 768px) {
    #page_index .news-list {
      font-size: 14px;
      font-size: 1.4rem; } }
  @media (max-width: 767px) {
    #page_index .news-list {
      display: block;
      width: 100%;
      padding: 2% 4%; } }
  @media print, screen and (min-width: 768px) {
    #page_index .news-list {
      display: table-cell; } }

#page_index .news-list dl {
  border-bottom: 1px solid #999;
  padding-bottom: 5px;
  margin-bottom: 5px; }

#page_index .news-list dl:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0; }

#page_index .news-list dt {
  width: 13%;
  float: left; }
  @media (min-width: 768px) and (max-width: 1040px) {
    #page_index .news-list dt {
      width: 17%; } }
  @media (max-width: 767px) {
    #page_index .news-list dt {
      width: 100%; } }

#page_index .news-list dd {
  width: 87%;
  float: left; }
  @media (min-width: 768px) and (max-width: 1040px) {
    #page_index .news-list dd {
      width: 83%; } }
  @media (max-width: 767px) {
    #page_index .news-list dd {
      width: 100%; } }

#page_index .news-list dd a {
  display: block; }

#page_index .news-list dd a:hover {
  color: #AA8D13; }

/*
#page_index section.about {
    background:url(../images/index_about.jpg) no-repeat bottom center;
    background-size:cover;
}
*/
#page_index section.about p {
  text-align: left;
  line-height: 1.9; }
  @media screen and (min-width: 768px) {
    #page_index section.about p {
      text-align: center; } }
  @media screen and (min-width: 1040px) {
    #page_index section.about p {
      text-align: center; } }

#page_index section.about .linkbtn1 {
  margin: 0 auto;
  text-align: center;
  display: block; }
  @media (max-width: 767px) {
    #page_index section.about .linkbtn1 {
      width: 70%; } }

@media screen and (max-width: 430px) {
  #page_index section.about .linkbtn1 {
    width: 100%; } }
#page_index section.news .news-header .list a {
  color: #fff;
  border: 1px solid #4d4d4d;
  background: #fff;
  float: right;
  /* margin-right: 7px; */
  position: relative;
  bottom: -1px;
  font-size: 13px;
  font-size: 1.3rem;
  padding: 0px 17px 1px;
  background: #4d4d4d;
  margin-top: 19px; }

/*
#page_index section.profile .top-img {
    position: relative;
}
#page_index section.profile .top-img:before {
    position: absolute;
    content: "";
    top:0;
    left:0;
    display: inline-block;
    width: 281px;
    height: 130px;
    background-image: url(../images/profile_lt.png);
    background-size: contain;
    vertical-align: middle;
    z-index: 1;
    @include tab_only {
        width: 186px;
        height: 86px;

    }
    @include sp_only {
        width: 93px;
        height: 43px;

    }

}
#page_index section.profile .top-img:after {
    position: absolute;
    content: "";
    top:0;
    right:0;
    display: inline-block;
    width: 260px;
    height: 111px;
    background-image: url(../images/profile_rt.png);
    background-size: contain;
    vertical-align: middle;
    z-index: 1;

    @include tab_only {
        width: 173px;
        height: 74px;

    }
    @include sp_only {
        width: 86px;
        height: 37px;

    }

}

#page_index section.profile .bottom-img {
    position: relative;
}
#page_index section.profile .bottom-img:before {
    position: absolute;
    content: "";
    bottom:0;
    left:0;
    display: inline-block;
    width: 370px;
    height: 220px;
    background-image: url(../images/profile_lb.png);
    background-size: contain;
    vertical-align: middle;
    z-index: 1;

    @include tab_only {
        width: 246px;
        height: 146px;

    }
    @include sp_only {
        width: 123px;
        height: 73px;

    }
}
/*
#page_index section.profile .bottom-img:after {
    position: absolute;
    content: "";
    bottom:0;
    right:0;
    display: inline-block;
    width: 592px;
    height: 154px;
    background-image: url(../images/profile_rb.png);
    background-size: contain;
    vertical-align: middle;
    z-index: 1;
    @include tab_only {
        width: 394px;
        height: 102px;

    }
    @include sp_only {
        width: 197px;
        height: 51px;

    }
}
*/
#page_index section.profile .outer {
  width: 100%; }

#page_index section.profile .outer .photo {
  width: 100%;
  float: left;
  position: relative;
  z-index: 99; }
  @media screen and (min-width: 768px) {
    #page_index section.profile .outer .photo {
      width: 40%; } }
  @media (max-width: 767px) {
    #page_index section.profile .outer .photo {
      padding-top: 4%; } }

#page_index section.profile .outer .text {
  width: 100%;
  margin: 0 auto;
  z-index: 99;
  position: relative; }
  @media screen and (min-width: 768px) {
    #page_index section.profile .outer .text {
      width: 70%; } }
  @media (max-width: 767px) {
    #page_index section.profile .outer .text {
      padding-left: 0;
      padding-bottom: 4%; } }

#page_index section.profile .outer .photo img {
  text-align: right;
  margin-left: auto;
  display: block;
  padding-right: 40px;
  padding-top: 40px; }
  @media (min-width: 768px) and (max-width: 1040px) {
    #page_index section.profile .outer .photo img {
      padding-top: 60px; } }
  @media (max-width: 767px) {
    #page_index section.profile .outer .photo img {
      padding-right: 0;
      margin: 0 auto;
      width: 160px; } }

#page_index section.profile .outer .text {
  margin: 0 auto;
  text-align: center; }

#page_index section.profile .outer .text h4 {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.2;
  letter-spacing: 1px;
  padding: 50px 0 20px; }
  @media screen and (min-width: 768px) {
    #page_index section.profile .outer .text h4 {
      font-size: 28px;
      font-size: 2.8rem; } }
  @media screen and (min-width: 1040px) {
    #page_index section.profile .outer .text h4 {
      font-size: 28px;
      font-size: 2.8rem; } }
  @media (max-width: 767px) {
    #page_index section.profile .outer .text h4 {
      padding: 4% 0 2%; } }

#page_index section.profile .outer .text h4 .romaji {
  letter-spacing: 1.5px;
  font-family: "ＭＳ Ｐゴシック", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Verdana, "ＭＳ ゴシック", Osaka-mono, sans-serif;
  display: block;
  margin-top: 3px;
  color: #4d4d4d;
  font-weight: normal; }
  @media (max-width: 767px) {
    #page_index section.profile .outer .text h4 .romaji {
      font-size: 10px;
      font-size: 1rem; } }
  @media (min-width: 768px) and (max-width: 1040px) {
    #page_index section.profile .outer .text h4 .romaji {
      font-size: 12px;
      font-size: 1.2rem; } }
  @media (min-width: 768px) {
    #page_index section.profile .outer .text h4 .romaji {
      font-size: 12px;
      font-size: 1.2rem; } }

#page_index section.profile .outer .text .linkbtn1 {
  width: 65%;
  text-align: center;
  margin: 0 auto 6%; }
  @media (max-width: 767px) {
    #page_index section.profile .outer .text .linkbtn1 {
      width: 100%;
      margin-bottom: 2%; } }

#page_index .contents_bottom {
  position: relative; }

/*
#page_index .contents_bottom:before {
    content: "";
    position: absolute;
    left:0;
    top:0;
    bottom:0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 400px 500px 0 0;
    border-color: #e6e6e6 transparent transparent transparent;
    z-index: 1;

    @include tab_only {
        border-width: 250px 350px 0 0;

    }
    @include sp_only {
        border-width: 125px 175px 0 0;
    }

}
*/
#page_index .contents_bottom .seminar {
  position: relative;
  z-index: 99; }

#page_index .contents_bottom ul {
  width: 100%;
  padding-bottom: 40px;
  border-bottom: 1px solid #cccccc; }

#page_index .contents_bottom .talk ul {
  border-bottom: none;
  padding-bottom: 90px; }
  @media (max-width: 767px) {
    #page_index .contents_bottom .talk ul {
      padding-bottom: 8%; } }

#page_index .contents_bottom ul li {
  width: 100%;
  background: #fff;
  margin-bottom: 10px; }

#page_index .contents_bottom ul li dl {
  width: 100%;
  padding: 15px; }

#page_index .contents_bottom ul li dl dt {
  width: 6em;
  float: left;
  display: block;
  padding: 0px 15px 0 0;
  border-right: 1px solid #cccccc; }
  @media (max-width: 767px) {
    #page_index .contents_bottom ul li dl dt {
      display: block;
      padding-right: 0;
      border-right: none;
      width: 100%;
      font-weight: bold; } }

#page_index .contents_bottom ul li dl dd {
  padding: 3px 0 0px 15px;
  overflow: hidden; }
  @media (max-width: 767px) {
    #page_index .contents_bottom ul li dl dd {
      display: block;
      width: 100%;
      padding-left: 0; } }

#page_index .contents_bottom ul li dl dd .date {
  display: block;
  color: #1A2D49;
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0px;
  margin-bottom: 5px; }
  @media screen and (min-width: 768px) {
    #page_index .contents_bottom ul li dl dd .date {
      font-size: 14px;
      font-size: 1.4rem; } }

#page_index .contents_bottom ul li dl dd .title {
  margin-bottom: 7px; }

#page_index .contents_bottom ul li dl dd .title a {
  font-weight: bold; }

#page_index .contents_bottom ul li dl dd .title a:hover {
  text-decoration: underline; }

#page_index .contents_bottom ul li dl dd .excerpt p {
  font-size: 12px;
  font-size: 1.2rem;
  color: #666;
  display: inline; }
  @media screen and (min-width: 768px) {
    #page_index .contents_bottom ul li dl dd .excerpt p {
      font-size: 14px;
      font-size: 1.4rem; } }

#page_index .contents_bottom ul li dl dd .excerpt a {
  text-decoration: underline;
  font-size: 12px;
  font-size: 1.2rem;
  color: #1A2D49; }
  @media screen and (min-width: 768px) {
    #page_index .contents_bottom ul li dl dd .excerpt a {
      font-size: 14px;
      font-size: 1.4rem; } }

#page_index .contents_bottom ul li dl dd .linkbtn {
  text-align: right;
  padding-top: 15px; }

#page_index .contents_bottom ul li dl dd .linkbtn {
  color: #4d4d4d;
  position: relative;
  font-size: 13px;
  font-size: 1.3rem;
  text-decoration: underline;
  margin-right: 20px; }

#page_index .contents_bottom ul li dl dd .linkbtn:after {
  content: "＞";
  position: absolute;
  font-size: 12px;
  font-size: 1.2rem;
  top: 16px;
  right: -17px; }

#page_index .contents_bottom ul li dl dd p {
  line-height: 1.4; }

/********************************************************************************
　--about
*********************************************************************************/
#page_about section.profile .top-img {
  position: relative; }

/*
#page_about section.profile .top-img:before {
    content: "";
    position: absolute;
    z-index: 0;
    left:0;
    right:0;
    margin: auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 130px 185px 0 185px;
    border-color: #E0F7FC transparent transparent transparent;
    @include sp_only {
        border-width: 85px 110px 0 110px;
    }
}


#page_about section.profile .bottom-img {
    position: relative;
}
#page_about section.profile .bottom-img:before {
    position: absolute;
    content: "";
    bottom:0;
    left:0;
    display: inline-block;
    width: 370px;
    height: 220px;
    background-image: url(../images/profile_lb.png);
    background-size: contain;
    vertical-align: middle;
    z-index: 1;

    @include tab_only {
        width: 246px;
        height: 146px;

    }
    @include sp_only {
        width: 123px;
        height: 73px;

    }
}
#page_about section.profile .bottom-img:after {
    position: absolute;
    content: "";
    bottom:0;
    right:0;
    display: inline-block;
    width: 592px;
    height: 154px;
    background-image: url(../images/profile_rb.png);
    background-size: contain;
    vertical-align: middle;
    z-index: 1;
    @include tab_only {
        width: 394px;
        height: 102px;

    }
    @include sp_only {
        width: 197px;
        height: 51px;

    }
}*/
#page_about section.profile .outer {
  width: 100%; }

#page_about section.profile .outer .photo {
  width: 100%;
  float: left;
  position: relative;
  z-index: 99; }
  @media screen and (min-width: 768px) {
    #page_about section.profile .outer .photo {
      width: 40%; } }
  @media (max-width: 767px) {
    #page_about section.profile .outer .photo {
      padding-top: 4%; } }

#page_about section.profile .outer .text {
  width: 100%;
  padding-top: 8%;
  margin: 0 auto;
  z-index: 99;
  position: relative; }
  @media screen and (min-width: 768px) {
    #page_about section.profile .outer .text {
      width: 70%; } }
  @media screen and (min-width: 1040px) {
    #page_about section.profile .outer .text {
      width: 60%; } }
  @media screen and (min-width: 768px) {
    #page_about section.profile .outer .text {
      padding-top: 60px; } }
  @media (max-width: 767px) {
    #page_about section.profile .outer .text {
      padding-left: 0;
      padding-bottom: 8%; } }

#page_about section.profile .outer .photo img {
  text-align: right;
  margin-left: auto;
  display: block; }
  @media (max-width: 767px) {
    #page_about section.profile .outer .photo img {
      margin: 0 auto;
      width: 160px; } }

#page_about section.profile .outer .text .comp {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.2;
  letter-spacing: 1px; }
  @media screen and (min-width: 768px) {
    #page_about section.profile .outer .text .comp {
      font-size: 28px;
      font-size: 2.8rem; } }
  @media screen and (min-width: 1040px) {
    #page_about section.profile .outer .text .comp {
      font-size: 28px;
      font-size: 2.8rem; } }
  @media (max-width: 767px) {
    #page_about section.profile .outer .text .comp {
      padding: 4% 0 2%;
      text-align: center; } }

#page_about section.profile .outer .text .comp .romaji {
  letter-spacing: 1.5px;
  font-family: "ＭＳ Ｐゴシック", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Verdana, "ＭＳ ゴシック", Osaka-mono, sans-serif;
  margin-top: 3px;
  color: #4d4d4d;
  font-weight: normal;
  padding-left: 2%; }
  @media (max-width: 767px) {
    #page_about section.profile .outer .text .comp .romaji {
      font-size: 10px;
      font-size: 1rem; } }
  @media (min-width: 768px) and (max-width: 1040px) {
    #page_about section.profile .outer .text .comp .romaji {
      font-size: 12px;
      font-size: 1.2rem; } }
  @media (min-width: 768px) {
    #page_about section.profile .outer .text .comp .romaji {
      font-size: 12px;
      font-size: 1.2rem; } }
  @media screen and (min-width: 768px) {
    #page_about section.profile .outer .text .comp .romaji {
      padding-left: 20px; } }
  @media (max-width: 767px) {
    #page_about section.profile .outer .text .comp .romaji {
      display: block;
      text-align: center; } }

#page_about section.profile .outer .text .job {
  font-size: 13px;
  font-size: 1.3rem;
  color: #1A2D49;
  line-height: 1.6;
  padding: 4% 0 0%; }
  @media screen and (min-width: 768px) {
    #page_about section.profile .outer .text .job {
      font-size: 16px;
      font-size: 1.6rem; } }
  @media screen and (min-width: 1040px) {
    #page_about section.profile .outer .text .job {
      font-size: 16px;
      font-size: 1.6rem; } }
  @media screen and (min-width: 768px) {
    #page_about section.profile .outer .text .job {
      padding: 30px 0 0px; } }
  @media (max-width: 767px) {
    #page_about section.profile .outer .text .job {
      text-align: center; } }

#page_about section.profile .outer .text .name {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.2;
  padding-bottom: 60px;
  letter-spacing: 1px; }
  @media screen and (min-width: 768px) {
    #page_about section.profile .outer .text .name {
      font-size: 28px;
      font-size: 2.8rem; } }
  @media screen and (min-width: 1040px) {
    #page_about section.profile .outer .text .name {
      font-size: 28px;
      font-size: 2.8rem; } }
  @media (max-width: 767px) {
    #page_about section.profile .outer .text .name {
      padding-bottom: 6%;
      padding: 0% 0 2%;
      text-align: center; } }

#page_about section.profile .outer .text .name .romaji {
  letter-spacing: 1.5px;
  font-family: "ＭＳ Ｐゴシック", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Verdana, "ＭＳ ゴシック", Osaka-mono, sans-serif;
  margin-top: 3px;
  font-weight: normal;
  padding-left: 2%; }
  @media (max-width: 767px) {
    #page_about section.profile .outer .text .name .romaji {
      font-size: 10px;
      font-size: 1rem; } }
  @media (min-width: 768px) and (max-width: 1040px) {
    #page_about section.profile .outer .text .name .romaji {
      font-size: 12px;
      font-size: 1.2rem; } }
  @media (min-width: 768px) {
    #page_about section.profile .outer .text .name .romaji {
      font-size: 12px;
      font-size: 1.2rem; } }
  @media screen and (min-width: 768px) {
    #page_about section.profile .outer .text .name .romaji {
      padding-left: 20px; } }
  @media (max-width: 767px) {
    #page_about section.profile .outer .text .name .romaji {
      display: block;
      text-align: center; } }

#page_about section.about ul.list li {
  font-size: 14px;
  font-size: 1.4rem;
  letter-spacing: 1px;
  padding-left: 1em;
  text-indent: -1em; }
  @media screen and (min-width: 768px) {
    #page_about section.about ul.list li {
      font-size: 16px;
      font-size: 1.6rem; } }

#page_about table {
  width: 100%; }

#page_about table th {
  width: 100%;
  text-align: left;
  font-size: 14px;
  font-size: 1.4rem;
  padding: 1% 0% 0; }
  @media screen and (min-width: 768px) {
    #page_about table th {
      width: 22%; } }
  @media screen and (min-width: 1040px) {
    #page_about table th {
      width: 15%; } }
  @media screen and (min-width: 768px) {
    #page_about table th {
      font-size: 16px;
      font-size: 1.6rem; } }
  @media screen and (min-width: 768px) {
    #page_about table th {
      padding: 3px 0px 1px; } }
  @media (max-width: 767px) {
    #page_about table th {
      font-weight: bold;
      display: block; } }

#page_about table td {
  text-align: left;
  font-size: 14px;
  font-size: 1.4rem;
  padding: 0% 0% 1%; }
  @media screen and (min-width: 768px) {
    #page_about table td {
      font-size: 16px;
      font-size: 1.6rem; } }
  @media screen and (min-width: 768px) {
    #page_about table td {
      padding: 3px 5px 1px; } }
  @media (max-width: 767px) {
    #page_about table td {
      width: 100%;
      display: block; } }

/********************************************************************************
　--information
*********************************************************************************/
#page_information .contents_outer {
  position: relative; }

/*
#page_information .contents_outer:before {
    content: "";
    position: absolute;
    left:0;
    top:0;
    bottom:0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 400px 500px 0 0;
    border-color: #e6e6e6 transparent transparent transparent;
    z-index: 1;

    @include tab_only {
        border-width: 250px 350px 0 0;

    }
    @include sp_only {
        border-width: 125px 175px 0 0;
    }

}
*/
#page_information .contents_outer .seminar {
  position: relative;
  z-index: 99; }

#page_information .contents_outer ul {
  width: 100%;
  padding-bottom: 40px;
  border-bottom: 1px solid #cccccc; }

#page_information .contents_outer .talk ul {
  border-bottom: none;
  padding-bottom: 90px; }
  @media (max-width: 767px) {
    #page_information .contents_outer .talk ul {
      padding-bottom: 8%; } }

#page_information .contents_outer ul li {
  width: 100%;
  background: #fff;
  margin-bottom: 10px; }

#page_information .contents_outer ul li dl {
  width: 100%;
  padding: 15px; }

#page_information .contents_outer ul li dl dt {
  width: 6em;
  float: left;
  display: block;
  padding: 0px 15px 0 0;
  border-right: 1px solid #cccccc; }
  @media (max-width: 767px) {
    #page_information .contents_outer ul li dl dt {
      display: block;
      border-right: none;
      width: 100%;
      font-weight: bold; } }

#page_information .contents_outer ul li dl dd {
  padding: 3px 0 0px 15px;
  overflow: hidden; }
  @media (max-width: 767px) {
    #page_information .contents_outer ul li dl dd {
      display: block;
      width: 100%;
      padding-left: 0; } }

#page_information .contents_outer ul li dl dd .date {
  display: block;
  color: #337cc4;
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0px;
  margin-bottom: 5px; }
  @media screen and (min-width: 768px) {
    #page_information .contents_outer ul li dl dd .date {
      font-size: 14px;
      font-size: 1.4rem; } }

#page_information .contents_outer ul li dl dd .title {
  margin-bottom: 7px; }

#page_information .contents_outer ul li dl dd .title a {
  font-weight: bold; }

#page_information .contents_outer ul li dl dd .title a:hover {
  text-decoration: underline; }

#page_information .contents_outer ul li dl dd .excerpt p {
  font-size: 12px;
  font-size: 1.2rem;
  color: #666;
  display: inline; }
  @media screen and (min-width: 768px) {
    #page_information .contents_outer ul li dl dd .excerpt p {
      font-size: 14px;
      font-size: 1.4rem; } }

#page_information .contents_outer ul li dl dd .excerpt a {
  text-decoration: underline;
  font-size: 12px;
  font-size: 1.2rem;
  color: #1A2D49; }
  @media screen and (min-width: 768px) {
    #page_information .contents_outer ul li dl dd .excerpt a {
      font-size: 14px;
      font-size: 1.4rem; } }

#page_information .contents_outer ul li dl dd .linkbtn {
  text-align: right;
  padding-top: 15px; }

#page_information .contents_outer ul li dl dd .linkbtn {
  color: #4d4d4d;
  position: relative;
  font-size: 13px;
  font-size: 1.3rem;
  text-decoration: underline;
  margin-right: 20px; }

#page_information .contents_outer ul li dl dd .linkbtn:after {
  content: "＞";
  position: absolute;
  font-size: 12px;
  font-size: 1.2rem;
  top: 16px;
  right: -17px; }

#page_information .contents_outer ul li dl dd p {
  line-height: 1.4; }

/********************************************************************************
　--contact
*********************************************************************************/
#page_contact section.tel .red {
  color: #c40500; }

#page_contact section.tel dl {
  width: 100%;
  margin: 4% 0 8%; }
  @media screen and (min-width: 768px) {
    #page_contact section.tel dl {
      margin: 20px 0 40px; } }

#page_contact section.tel dl dt {
  width: 100%;
  float: left;
  background: #c40500;
  color: #fff;
  text-align: center;
  border: 2px solid #c40500;
  padding: 2% 4%; }
  @media screen and (min-width: 768px) {
    #page_contact section.tel dl dt {
      width: 32%; } }
  @media screen and (min-width: 1040px) {
    #page_contact section.tel dl dt {
      width: 30%; } }
  @media screen and (min-width: 768px) {
    #page_contact section.tel dl dt {
      padding: 20px; } }

#page_contact section.tel dl dd {
  width: 100%;
  float: left;
  color: #c40500;
  border: 2px solid #c40500;
  padding: 2% 4%;
  text-align: center; }
  @media screen and (min-width: 768px) {
    #page_contact section.tel dl dd {
      width: 68%; } }
  @media screen and (min-width: 1040px) {
    #page_contact section.tel dl dd {
      width: 70%; } }
  @media screen and (min-width: 768px) {
    #page_contact section.tel dl dd {
      padding: 13px 40px; } }
  @media screen and (min-width: 768px) {
    #page_contact section.tel dl dd {
      text-align: left; } }
  @media screen and (min-width: 1040px) {
    #page_contact section.tel dl dd {
      text-align: left; } }

#page_contact section.tel dl dd #tel {
  letter-spacing: 1px;
  padding-right: 20px; }
  @media (max-width: 767px) {
    #page_contact section.tel dl dd #tel {
      font-size: 20px;
      font-size: 2rem; } }
  @media (min-width: 768px) and (max-width: 1040px) {
    #page_contact section.tel dl dd #tel {
      font-size: 24px;
      font-size: 2.4rem; } }
  @media (min-width: 768px) {
    #page_contact section.tel dl dd #tel {
      font-size: 24px;
      font-size: 2.4rem; } }
  @media (max-width: 767px) {
    #page_contact section.tel dl dd #tel {
      width: 100%;
      display: block;
      padding-left: 0px; } }

#page_contact section.tel dl dd #time {
  padding-left: 10px; }
  @media (max-width: 767px) {
    #page_contact section.tel dl dd #time {
      width: 100%;
      display: block;
      padding-left: 0px; } }

@media (max-width: 767px) {
  #page_contact .button-contact {
    font-size: 11px;
    font-size: 1.1rem; } }

@media (max-width: 767px) {
  #page_contact .area_type {
    font-size: 11px;
    font-size: 1.1rem; } }

#page_contact .button-contact input[type="radio"] {
  display: none; }

#page_contact .button-contact label {
  display: inline-block;
  color: #fff;
  background-color: #666666;
  padding: 5px 10px; }

#page_contact .button-contact label {
  width: 33.333%;
  float: left;
  text-align: center;
  padding: 2% 4%; }
  @media screen and (min-width: 768px) {
    #page_contact .button-contact label {
      padding: 15px 20px; } }

#page_contact .button-contact .btn1 {
  border-right: 1px solid #fff; }

#page_contact .button-contact .btn2 {
  border-right: 1px solid #fff; }

#page_contact .button-contact label {
  cursor: pointer; }

#page_contact .button-contact label:hover {
  background: #32b2af; }

#page_contact .button-contact input[type="radio"]:checked + label {
  background-color: #1e9e9e; }

#page_contact .button-area input[type="radio"] {
  display: none; }

#page_contact .button-area label {
  width: 98%;
  margin: 0 auto;
  text-align: center;
  display: block;
  color: #000;
  background-color: #fff;
  padding: 4%;
  border-bottom: 2px solid #f2f2f2; }
  @media screen and (min-width: 768px) {
    #page_contact .button-area label {
      padding: 15px 20px; } }

#page_contact .button-area input[type="radio"]:checked + label {
  background-color: #c7e2e0; }

#page_contact .button-area.hover label:hover {
  background-color: #dfefed;
  cursor: pointer; }

@media (max-width: 767px) {
  #page_contact section.form h3 {
    margin-bottom: 6%; } }
@media (min-width: 768px) and (max-width: 1040px) {
  #page_contact section.form h3 {
    margin-bottom: 50px; } }
@media (min-width: 768px) {
  #page_contact section.form h3 {
    margin-bottom: 50px; } }

#page_contact section.form form table {
  width: 100%; }

#page_contact section.form form table th {
  font-size: 15px;
  font-size: 1.5rem;
  text-align: left;
  position: relative;
  vertical-align: middle;
  padding: 16px 80px 16px 20px;
  line-height: 1;
  border-bottom: 1px solid #CCCCCC;
  border-left: 1px solid #CCCCCC;
  white-space: nowrap;
  background: #E6F1F4;
  width: 240px;
  box-sizing: border-box; }
  @media (max-width: 767px) {
    #page_contact section.form form table th {
      width: 100%;
      display: block;
      font-size: 13px;
      font-size: 1.3rem;
      text-align: left;
      vertical-align: middle;
      padding: 2% 2% 2%;
      line-height: 1;
      border-bottom: 1px solid #CCCCCC;
      border-right: 1px solid #CCCCCC;
      border-left: 1px solid #CCCCCC;
      white-space: nowrap;
      background: #E6F1F4; } }

#page_contact section.form form table {
  border-top: 1px solid #CCCCCC !important; }

#page_contact em {
  color: #ED1C24; }
  @media (max-width: 767px) {
    #page_contact em {
      font-size: 10px;
      font-size: 1rem; } }
  @media (min-width: 768px) and (max-width: 1040px) {
    #page_contact em {
      font-size: 12px;
      font-size: 1.2rem; } }
  @media (min-width: 768px) {
    #page_contact em {
      font-size: 12px;
      font-size: 1.2rem; } }

#page_contact .privacy-em {
  position: absolute;
  background: #DC452F;
  color: #fff;
  font-size: 10px;
  font-size: 1.0rem;
  display: inline-block;
  padding: 3px 10px 3px;
  margin-top: 3px;
  margin-left: 14px; }
  @media (max-width: 767px) {
    #page_contact .privacy-em {
      position: relative;
      margin-left: 4%;
      padding: 3px 5px 3px; } }

#page_contact section.form form table td {
  border-right: 1px solid #CCCCCC;
  padding: 10px 20px 10px;
  font-size: 15px;
  font-size: 1.5rem;
  background: #fff;
  border-bottom: 1px solid #CCCCCC; }
  @media (max-width: 767px) {
    #page_contact section.form form table td {
      background: none;
      border-right: none;
      padding: 2% 0%;
      display: block;
      width: 100%;
      font-size: 13px;
      font-size: 1.3rem;
      border-bottom: 1px solid #CCCCCC; } }

#page_contact section.form form table td .zipmsg {
  margin-bottom: 0px; }

#page_contact section.form form table td input[type=text] {
  padding: 3px 8px; }

#page_contact section.form form table td input[type=radio] {
  padding-right: 10px;
  display: inline-block; }

#page_contact section.form form table td label {
  margin-bottom: 10px;
  margin-top: 5px;
  display: block; }

#page_contact section.form form table td textarea {
  padding: 10px; }

#page_contact section.form form .submit {
  text-align: center;
  padding: 30px 0 50px; }
  @media (max-width: 767px) {
    #page_contact section.form form .submit {
      padding: 4% 0 8%; } }

#page_contact section.form .msg {
  margin: 20px 0 30px; }

#page_contact form .submit input {
  position: relative;
  background: #1A2D49;
  border: 1px solid #1A2D49;
  color: #fff;
  font-size: 15px;
  font-size: 1.5rem;
  text-decoration: none;
  margin: 0 auto;
  padding: 16px 94px 16px 97px;
  line-height: 1;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer; }
  @media (max-width: 767px) {
    #page_contact form .submit input {
      width: 100%;
      padding: 16px 4%;
      margin-bottom: 2% !important; } }

#page_contact form .submit .button_wrap {
  position: relative;
  display: inline-block; }
  @media (max-width: 767px) {
    #page_contact form .submit .button_wrap {
      width: 100%; } }

#page_contact form .submit .button_wrap:after {
  content: "";
  top: 53%;
  position: absolute;
  right: 12px;
  display: block;
  content: "";
  width: 6px;
  height: 6px;
  margin-top: -3px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }
  @media (max-width: 767px) {
    #page_contact form .submit .button_wrap:after {
      top: 46%; } }

@media (max-width: 767px) {
  #page_contact section.form form table tr:last-of-type td {
    border-bottom: none; } }

#page_contact form .submit input:hover {
  background: #fff;
  color: #1A2D49;
  border: 1px solid #1A2D49;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

@media (max-width: 767px) {
  #page_contact section.form form table td #zip1 {
    font-size: 13px;
    font-size: 1.3rem;
    width: 35% !important;
    display: inline !important;
    margin-left: 1% !important; } }

@media (max-width: 767px) {
  #page_contact section.form form table td #zip2 {
    font-size: 13px;
    font-size: 1.3rem;
    width: 45% !important;
    display: inline !important;
    margin-left: 1% !important; } }

section.form .privacy {
  margin-top: 10px;
  text-align: center;
  margin-bottom: 6%; }
  @media (max-width: 767px) {
    section.form .privacy {
      text-align: center; } }

#page_contact .kome {
  margin-top: 10px;
  text-align: center;
  margin-bottom: 0%; }

#page_contact section.form .privacy a {
  color: #000; }

#page_contact section.form .privacy label {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 5px 70px 5px 20px;
  margin-top: 20px;
  cursor: pointer; }

#page_contact section.form .privacy label.disable {
  filter: alpha(opacity=30);
  -moz-opacity: 0.3;
  opacity: 0.3; }

#page_contact section.form .privacy label input {
  position: relative;
  top: 2px; }

#page_contact section.form form table td input[type=text] {
  padding: 5px 8px; }

#page_contact section.form form table {
  border-top: 1px solid #ddd; }

.privacy_area {
  height: 200px;
  margin-bottom: 0px;
  overflow: scroll;
  background: #f6f6f6;
  padding: 20px;
  border: 1px solid #ddd; }

.privacy_area h3 {
  font-weight: bold;
  font-size: 13px;
  font-size: 1.3rem;
  margin-bottom: 15px; }
  @media screen and (min-width: 768px) {
    .privacy_area h3 {
      font-size: 17px;
      font-size: 1.7rem; } }

.privacy_area h4 {
  font-weight: bold;
  font-size: 13px;
  font-size: 1.3rem;
  margin-bottom: 0px; }
  @media screen and (min-width: 768px) {
    .privacy_area h4 {
      font-size: 14px;
      font-size: 1.4rem; } }

.privacy_area h5 {
  font-weight: bold;
  font-size: 14px !important;
  font-size: 1.4rem !important;
  margin-bottom: 0px; }

.privacy_area p {
  font-size: 13px !important;
  font-size: 1.3rem !important;
  margin-bottom: 1em !important; }

#page_contact .mw_wp_form_confirm .privacy_area {
  display: none; }

#page_contact .mw_wp_form_confirm .kome {
  display: none; }

#page_contact .mw_wp_form_confirm #estimatelink {
  display: none; }

#page_contact .mw_wp_form_confirm p {
  margin-bottom: 0px; }

#page_contact .mw_wp_form_confirm .zipmsg {
  display: none; }

.mw_wp_form_input table tr.hidden {
  display: none; }

.mw_wp_form_confirm em {
  display: none; }

.mw_wp_form_confirm table tr.confirm_hidden {
  display: none; }

/********************************************************************************
　--news
*********************************************************************************/
#page_single .entry-title {
  text-align: left;
  font-weight: bold;
  line-height: 1.6; }
  @media (max-width: 767px) {
    #page_single .entry-title {
      font-size: 16px;
      font-size: 1.6rem; } }
  @media (min-width: 768px) and (max-width: 1040px) {
    #page_single .entry-title {
      font-size: 20px;
      font-size: 2rem; } }
  @media (min-width: 768px) {
    #page_single .entry-title {
      font-size: 20px;
      font-size: 2rem; } }

#page_single time {
  color: #999; }
  @media (max-width: 767px) {
    #page_single time {
      font-size: 10px;
      font-size: 1rem; } }
  @media (min-width: 768px) and (max-width: 1040px) {
    #page_single time {
      font-size: 12px;
      font-size: 1.2rem; } }
  @media (min-width: 768px) {
    #page_single time {
      font-size: 12px;
      font-size: 1.2rem; } }

#page_single .entry-header {
  font-size: 12px;
  overflow: hidden;
  padding-bottom: 2%; }
  @media screen and (min-width: 768px) {
    #page_single .entry-header {
      padding-bottom: 16px; } }

#page_single .entry-date {
  color: #1A2D49; }

#page_single ul.page_link {
  padding-top: 30px;
  margin-bottom: 30px; }

#page_single ul.page_link li a {
  font-size: 13px;
  display: inline-block;
  padding: 6px 15px 3px;
  border-radius: 3px;
  border: solid 1px #c0c0c0;
  background: #fefefe;
  text-decoration: none;
  color: #717171; }

#page_single ul.page_link li.next {
  float: right; }

#page_single ul.page_link li.prev {
  float: left; }

#page_single .entry-content p {
  margin-bottom: 4%; }
  @media screen and (min-width: 768px) {
    #page_single .entry-content p {
      margin-bottom: 25px; } }

#page_single .entry-content h3 {
  margin-bottom: 1em;
  font-size: 16px;
  font-size: 1.6rem;
  border-left: 3px solid #1A2D49;
  color: #1A2D49;
  line-height: 1.2;
  padding-left: 10px;
  margin-bottom: 4%; }
  @media screen and (min-width: 768px) {
    #page_single .entry-content h3 {
      font-size: 18px;
      font-size: 1.8rem; } }
  @media screen and (min-width: 768px) {
    #page_single .entry-content h3 {
      margin-bottom: 25px; } }

#page_single .entry-content h4 {
  font-weight: bold;
  font-size: 16px;
  font-size: 1.6rem;
  color: #1A2D49;
  margin-bottom: 4%; }
  @media screen and (min-width: 768px) {
    #page_single .entry-content h4 {
      font-size: 18px;
      font-size: 1.8rem; } }
  @media screen and (min-width: 768px) {
    #page_single .entry-content h4 {
      margin-bottom: 25px; } }

#page_single .talk .entry-content {
  margin-top: -28px; }

#page_single .entry-content a {
  color: #1A2D49;
  text-decoration: underline; }

@media (min-width: 768px) and (max-width: 1040px) {
  #page_single .entry-content img {
    margin: 0 auto;
    display: block;
    text-align: center; } }
@media (max-width: 767px) {
  #page_single .entry-content img {
    margin: 0 auto;
    display: block;
    text-align: center; } }

.entry-content .outer {
  width: 100%; }

.entry-content .outer .photo {
  width: 40%;
  float: left; }
  @media (max-width: 767px) {
    .entry-content .outer .photo {
      width: 100%; } }

.entry-content .outer .photo img {
  width: 100%;
  height: auto; }

.entry-content .outer .text {
  width: 60%;
  float: left;
  padding-left: 4%; }
  @media (max-width: 767px) {
    .entry-content .outer .text {
      padding-left: 0%;
      width: 100%;
      padding-top: 4%; } }

#page_single .news .news_entry {
  min-height: 510px; }

#page_single .news_entry .linkbtn2 {
  text-align: center; }

#page_single .news_entry .talk-outer {
  width: 100%;
  background: #F2F2F2; }

#page_single .news_entry .talk-outer .photo {
  width: 40%;
  float: left; }
  @media (max-width: 767px) {
    #page_single .news_entry .talk-outer .photo {
      width: 100%; } }

#page_single .news_entry .talk-outer .photo img {
  width: 100%;
  height: auto; }

#page_single .news_entry .talk-outer .text {
  width: 60%;
  float: left;
  padding-left: 4%; }
  @media (max-width: 767px) {
    #page_single .news_entry .talk-outer .text {
      padding-left: 0%;
      width: 100%;
      padding-top: 4%; } }

#page_single .news_entry .talk-outer:nth-child(1) {
  padding-top: 0; }

#page_single .news_entry .talk-outer dl {
  width: 100%;
  padding-bottom: 5px; }

#page_single .news_entry .talk-outer dl:last-of-type {
  padding-bottom: 0; }

#page_single .news_entry .talk-outer dl dt {
  line-height: 2;
  width: 4em;
  float: left; }
  @media (max-width: 767px) {
    #page_single .news_entry .talk-outer dl dt {
      width: 3em; } }

#page_single .news_entry .talk-outer dl dd {
  letter-spacing: 1px;
  color: #333;
  line-height: 2;
  width: 88%;
  float: left;
  font-size: 13px;
  font-size: 1.3rem; }
  @media screen and (min-width: 768px) {
    #page_single .news_entry .talk-outer dl dd {
      font-size: 16px;
      font-size: 1.6rem; } }
  @media (max-width: 767px) {
    #page_single .news_entry .talk-outer dl dd {
      padding-top: 2px; } }

#page_single .news_entry .talk-outer dl dt:after {
  content: "";
  font-size: 15px;
  padding-left: 4px;
  top: -1px;
  position: relative; }

@media screen and (max-width: 420px) {
  #page_single .news_entry .talk-outer dl dt {
    width: 4em; }

  #page_single .news_entry .talk-outer dl dd {
    width: 80%; } }
@media screen and (max-width: 340px) {
  #page_single .news_entry .talk-outer dl dt {
    width: 4em; }

  #page_single .news_entry .talk-outer dl dd {
    width: 75%; } }
#page_single .news_entry .full_text dl dt {
  width: 4em; }
  @media (max-width: 767px) {
    #page_single .news_entry .full_text dl dt {
      width: 3em; } }

#page_single .news_entry .full_text dl dd {
  width: 93%; }
  @media (max-width: 767px) {
    #page_single .news_entry .full_text dl dd {
      width: 88%; } }

@media screen and (max-width: 420px) {
  #page_single .news_entry .full_text dl dt {
    width: 100%; }

  #page_single .news_entry .full_text dl dd {
    width: 100%; } }
.entry-content .profile-outer {
  width: 100%; }

.entry-content .profile-outer .profile-photo {
  width: 20%;
  float: left; }
  @media (max-width: 767px) {
    .entry-content .profile-outer .profile-photo {
      width: 100%; } }

.entry-content .profile-outer .profile-photo img {
  width: 100%;
  height: auto; }

.entry-content .profile-outer .profile-text {
  width: 80%;
  float: left;
  padding-left: 4%; }
  @media (max-width: 767px) {
    .entry-content .profile-outer .profile-text {
      padding-left: 0%;
      width: 100%;
      padding-top: 4%; } }

/********************************************************************************
　--news
*********************************************************************************/
.news .cat {
  background: #222;
  color: #fff;
  display: inline-block;
  font-size: 10px;
  margin-right: 10px;
  padding: 4px 10px;
  text-decoration: none;
  vertical-align: middle; }

.news .date {
  color: #999;
  display: inline-block;
  font-size: 12px; }

.news .text {
  margin-bottom: 24px; }

.news ul {
  padding-bottom: 40px; }

.news .text a:hover {
  text-decoration: underline; }

section.coming-soon {
  margin-top: 64px;
  width: 100%;
  height: 900px;
  text-align: center;
  background: url(../images/coming_soon.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative; }

section.coming-soon .bg {
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 100%;
  height: 100%; }

section.coming-soon h2 {
  font-family: "Archivo Black", sans-serif;
  font-size: 18px;
  font-size: 1.8rem;
  padding-top: 35%;
  margin-top: 0;
  color: #fff; }
  @media screen and (min-width: 768px) {
    section.coming-soon h2 {
      font-size: 54px;
      font-size: 5.4rem; } }
  @media screen and (min-width: 768px) {
    section.coming-soon h2 {
      padding-top: 350px; } }

section.coming-soon a {
  color: #fff; }

/*# sourceMappingURL=page.css.map */
