@charset "utf-8";


// サイズ設定
$width_pc : 1040; //PC
$width_tab: 768; //タブレット
$width_sp : 480; //スマートフォン
$width_wrapper : 1000px; // wrapperのサイズ

// 色設定
$bg_body : #fff;

$color_text : #000;
$color_link : #000;

$keycolor1 : #1A2D49;
$keycolor2 : #AA8D13;
$keycolor3 : rgba(255,255,255,0.25);
$keycolor4 : #1A2D49;

$border_color : #b2b2b2;

// 余白設定
$pd_s_sp : 2%;
$pd_m_sp : 4%;
$pd_l_sp : 6%;
$pd_xl_sp : 8%;

$pd_s_pc : 10px;
$pd_m_pc : 30px;
$pd_l_pc : 50px;
$pd_xl_pc : 70px;

// 文字サイズ設定
$fsize_xxl_pc : 32;
$fsize_xl_pc : 24;
$fsize_l_pc  : 20;
$fsize_m_pc  : 16;
$fsize_s_pc  : 14;
$fsize_xs_pc  : 12;
$fsize_xxs_pc  : 10;

$fsize_xxl_sp : 22;
$fsize_xl_sp : 20;
$fsize_l_sp  : 16;
$fsize_m_sp  : 14;
$fsize_s_sp  : 12;
$fsize_xs_sp : 10;
$fsize_xxs_sp : 8;

// フォント設定
$font_family : "ＭＳ Ｐゴシック","ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro","Yu Gothic", メイリオ, Meiryo, Verdana, "ＭＳ ゴシック", Osaka-mono, sans-serif;
$font_gothic : "ＭＳ Ｐゴシック","ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Verdana, "ＭＳ ゴシック", Osaka-mono, sans-serif;
$font_mincho : "ＭＳ Ｐゴシック","Hannari", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
$font_archivo : 'Archivo Black', sans-serif;
$font_istok : 'Istok Web', sans-serif;;
$font-sans: "Noto Sans Japanese", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Verdana, "ＭＳ ゴシック", Osaka-mono, sans-serif;
$font-crimson : "Crimson Text","Noto Sans Japanese", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Verdana, "ＭＳ ゴシック", Osaka-mono, serif;
